<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>DisplayPort</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class = title>
                <h1>
                    DisplayPort
                </h1>
                <hr>
                <p id="general">Der DisplayPort ist ein Anschluss, der die älteren Videoanschlüsse wie VGA oder DVI ersetzen soll.</p>
            </div>
            <div class="shortlink">
                <h2>Shortlinks</h2>
                <ul>
                    <li><a href="#compact">Kompaktheit</a></li>
                    <li><a href="#pins">Pins</a></li>
                    <li><a href="#advantages">Vorteile</a></li>
                </ul>
            </div>
			<div id ="compact">
				<h2>Kompaktheit</h2>
				<p>Neben dem DisplayPort hat Apple den Mini DisplayPort entwickelt, welcher mit den Thunderbolt-Anschlüssen, die an vielen Apple Computern zu finden sind und mit den Kabeln des Mini DisplayPorts kompatibel sind, da sie auf dem basieren. So kann in diesen Geräten viel Platz gespart werden.</p>
			</div>
			<div id ="pins">
				<h2>Signale</h2>
				<img src = "/imgs/ports/video/dppins.png" alt ="Pins"/>
				<!-- License notive -->
				<a href="https://commons.wikimedia.org/wiki/User:Abisys">Abisys</a>, <a href="https://commons.wikimedia.org/wiki/File:DisplayPort_Connector.svg">DisplayPort Connector</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="license">CC BY-SA 3.0</a>
				<p>Mit dem DisplayPort-Anschluss können sowohl Video, als auch Audio Signale übertragen werden. Die Videosignale können dabei in sehr viel besserer Qualität als mit einem VGA- oder DVI-Anschluss übertragen werden. Der DisplayPort hat eine maximale Auflösung von 5.120 × 2880 Pixel, während VGA nur bis zu 1920 × 1080 Pixel auflösen kann. Die Pins beim DisplayPort-Anschluss sind folgendermassen angeordnet: Die Pins 1 bis 12 bilden Datenkabelpaare mit immer einem Ground dazwischen (1 positiv, 2 Ground, 3 negativ, 4 positiv, 5 Ground, ...). Die Pins 13 und 14 sind für die Konfigurierung zuständig, sie geben also eine Information um was für ein Signal es sich handelt. Die Pins 15 bis 17 bilden die Tonspur, wobei Pin 16 ein Ground ist. Der Pin 18 ist der sogenannte Hot Plug, der dafür sorgt, dass das System ungestört weiterlaufen kann, wenn ein anderer Stecker an einem der beiden verbundenen Geräte eingesteckt wird. Die übrigen Pins 19 und 20 sind für die Stromversorgung des Endgerätes zuständig.</p>
			</div>
			<div id ="advantages">
				<h2>Vorteile</h2>
				<p>Neben der guten Auflösung und der Möglichkeit auch Audiosignale zu übertragen hat der DisplayPort-Anschluss auch Vorteile gegenübern dem etwa gleich neuen HDMI-Anschluss. Der DisplayPort hat eine maximal mögliche Kabellänge von 15 Metern, wogegen der HDMI-Anschluss lediglich Signale über eine Länge von fünf Metern übertragen kann. Ausserdem kann der DisplayPort lizenzfrei produziert werden, was ihn kostengünstiger macht und ihn vor allem für günstigere Geräte attraktiver macht.</p>
			</div>
        </main>
    </body>
</html>
