<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>DVI</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../../partials/header.ejs %>
        <main>
            <div class = title>
                <h1>
                    DVI
                </h1>
                <hr>
                <p id="general">Der <b>DVI</b> (<b>D</b>igital <b>V</b>isual <b>I</b>nterface) Anschluss ist der erste weit verbreitete Videoanschluss, der ein digitales Videosignal übertragen kann und es nicht erst in ein analoges Signal umwandeln muss. Mit dem DVI Anschluss kann sowohl eine digitale, als auch eine analoge Übertragung möglich sein.</p>
            </div>
            <div class="shortlink">
                <h2>Shortlinks</h2>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#pins">Pins</a></li>
                </ul>
            </div>
                <div id ="">
                    <h2></h2>
                    <p></p>
                </div>
                <div id ="">
                    <h2></h2>
                    <p></p>
                </div>
                <div id ="pins">
                    <h2>Pins</h2>
                    <img src = "/imgs/ports/video/dvipins.png" alt ="Pins"/>
                    <p>Bei den Pins des DVI Anschlusses können wir die einzelnen Pins ihren verschiedenen Aufgaben zuordnen, wobei sich die Farben auf das oben stehende Bild beziehen. Die grünen, sowie die blau-violetten Pins sind für die Datenübertragung zuständig. Die gelben Pins sind für die TMDS Abschirmung, die verhindert, dass das Signal zwischen Sender und Empfänger abgefangen werden kann. Die hellblauen Pins sind die sogenannten Plug and Play Pins, die dafür sorgen, dass ohne Konfiguration des Benutzers direkt ein Signal übertragen werden kann. Die rosafarbenen Pins sind für die Taktfrequenz zuständig. Die roten Pins werden für das analoge Signal gebraucht.</p>
               </div>
        </main>
    </body>
</html>
