<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>DVI</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../../partials/header.ejs %>
        <main>
            <div class = title>
                <h1>
                    DVI
                </h1>
                <hr>
                <p id="general">Der <b>DVI</b> (<b>D</b> <b>V</b> <b>I</b>) Anschluss ist ein Videoanschluss </p>
            </div>
            <div class="shortlink">
                <h2>Shortlinks</h2>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#pins">Pins</a></li>
                </ul>
            </div>
                <div id ="">
                    <h2></h2>
                    <p></p>
                </div>
                <div id ="">
                    <h2></h2>
                    <p></p>
                </div>
                <div id ="pins">
                    <h2>Pins</h2>
                    <img src = "/imgs/ports/video/" alt ="Pins"/>
                    <p></p>
               </div>
        </main>
    </body>
</html>
