<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>HDMI</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class = "title">
                <h1>
                    HDMI
                </h1>
                <hr>
                <p id="general">Der <b>HDMI</b> (<b>H</b>igh <b>D</b>efinition <b>M</b>ultimedia <b>I</b>nterface) Anschluss ist ein im Jahre 2002 entwickelter Videoanschluss. Der HDMI Anschluss ist der Nachfolger der früheren Schnittstelle DVI und beide benützen dieselbe Signalcodierung TMDS, weswegen der HDMI Anschluss auch zu DVI Anschluss abwärtskompatibel ist.</p>
            </div>
            <div class="shortlink">
                <h2>Shortlinks</h2>
                <ul>
                    <li><a href="#speed">Datenübertragungsrate</a></li>
                    <li><a href="#copy">Kopierschutz</a></li>
                    <li><a href="#pins">Pins</a></li>
                </ul>
            </div>
            <div id ="speed">
                <h2>Datenübertragungsrate</h2>
                <p>Die aktuelle HDMI-Version, der HDMI 2.0b hat eine maximale Datenübertragungsrate von 14.4 GBit/s. HDMI hat aber bereits 2017 den neuen HDMI 2.1 Anschluss vorgestellt, der bis zu 42.6 GBit/s übertragen kann. Jedoch gibt noch nicht viele Geräte, die diesen Anschluss unterstützen, wodurch er noch nicht wirklich gebraucht wird.</p>
            </div>
            <div id ="copy">
                <h2>Kopierschutz</h2>
                <p>Der HDMI Anschluss wurde mit dem von Intel entwickelten Kopierschutz <b>HDCP</b> (<b>H</b>igh-bandwidth <b>D</b>igital <b>C</b>ontent <b>P</b>rotection) 1.1 ausgerüstet. Dieser verhindert das Abgreifen von Video und Audiomaterial zwischen dem Sender und dem Empfänger.</p>
            </div>
            <div id ="pins">
                <h2>Pins</h2>
                <img src = "/imgs/ports/video/hdmipins.png" alt ="Pins"/>
                <p>Der HDMI-Anschluss besitzt 19 Pins, die hier aufgeführt werden. Diese werden hier nun genauer beschrieben, wobei sich die Nummern jeweils auf die obenstehende Grafik beziehen. Die Pins 1 & 3, 4 & 6, 7 & 9, 10 & 12 bilden Datenkabelpaare, wobei der Pin dazwischen (also beispielsweise für 1 und 3 der Pin 2) der Ground dafür ist. Der Pin Nummer 13 wird komponentenübergreifende Ansteuerungsfunktionen gebraucht. Die Pins 15 & 17 mit dem Ground 17 sind der serielle Takt, respektive die serielle Datenleitung für den Display Data Channel, der gebraucht wird um eine Übertragung zwischen Bildschirm und Grafikkarte zu unterstützen. Der Pin 18 ist die positive Spannungsquelle, um die Datenübertragung mit Strom zu speisen. Der letzte Pin 19 ist der Hot Plug, der dafür sorgt, dass das System ungestört weiterlaufen kann, wenn beispielsweise ein Stecker eingesteckt wird.</p>
           </div>
        </main>
		<%- include(partialsPath + 'footer1.ejs') %>
    </body>
</html>
