<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>VGA</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class = title>
                <h1>
                    VGA
                </h1>
                <hr>
                <p id="general">Der <b>VGA</b> (<b>V</b>ideo <b>G</b>raphics <b>A</b>rray) Anschluss ist ein Videoanschluss, der im Jahr 1987 von IBM eingeführt wurde. Die VGA Schnittstelle folgte der <b>EGA</b> (<b>E</b>nhanched <b>G</b>raphics <b>A</b>dapter Schnittstelle. Obwohl der VGA-Anschluss bereits etwas veraltet ist kann man ihn noch viel antreffen. Jedoch haben Intel und AMD im Jahr 2010 angekündigt, dass sie sich ab 2015 auf HDMI und DisplayPort konzentrieren werden und somit VGA nicht mehr zu ihren Produkten zählt.</p>
            </div>
            <div class="shortlink">
                <h2>Shortlinks</h2>
                <ul>
                    <li><a href="#signal">Signale</a></li>
                    <li><a href="#problems">Probleme</a></li>
                    <li><a href="#pins">Pins</a></li>
                </ul>
            </div>
            <div id ="signal">
                <h2>Signale</h2>
                <p>Die VGA Schnittstelle überträgt das Signal als analoges Signal. Dabei muss also das digitale Signal einer Grafikkarte in ein analoges Signal umgewandelt werden. Dies wird aber heutzutage nicht mehr gebraucht, da bei den aktuellen Bildschirmtechnologien ohnehin ein digitales Signal und kein analoges Signal mehr benötigt wird. Ausserdem kann der VGA-Anschluss keine Audiosignale übertragen und so muss für eine Audioübertragung ein AUX-Kabel verwendet werden.</p>
            </div>
            <div id ="problems">
                <h2>Probleme</h2>
                <p>Bei VGA-Kablen hat die Qualität der Kabel einen starken Einfluss darauf, wie gut die jeweiligen Kabel funktionieren. Dabei kann ein gutes Kabel ein Signal auch über lange Distanzen im Bereich von 20 bis 30 Metern übertragen, während ein Kabel von weniger guter Qualität bereits nach fünf Metern Kabellänge Probleme verursachen kann.</p>
            </div>
            <div id ="pins">
                <h2>Pins</h2>
                <img src = "/imgs/ports/video/vgapins.png" alt ="Pins"/>
                <p>Der VGA-Anschluss hat, wie im Bild oben zu erkennen 15 Pins. Dabei sind die Pins 1 bis 3 für die Stromversorgung, respektive für die Impedanz, die das Verhältnis zwischen Spannung und Stromstärke angibt zuständig. Die Pins 5 bis 8 und 10 sind Grounds, die in der Regel ein Potential von 0 haben und somit als Bezugspotential für die Festlegung einer Spannung im Netzwerk verwendet werden können. Die restlichen Pins, 11 bis 15 und 4 sind für die Datenübertragung zuständig.</p>
           </div>
        </main>
		<%- include(partialsPath + 'footer1.ejs') %>
    </body>
</html>
