<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>Anschlüsse</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../partials/header.ejs %>
        <main>
            <div class = "title">
                <h1>Schnittstellen</h1>
            </div>
            <div class = "text">
                <p>Die Anschlüsse am Computer, die gebraucht werden um externe Geräte zu verbinden werden in der Fachsprache Schnittstellen genannt. Hier haben wir die wichtigsten davon aufgeführt, um Ihnen deren Amwendung und Funktion näher zu bringen.<p>
            </div>
            <div class = "ports">
                <div id = "usb">
                    <a href = "/ports/usb" id = "describeportUSB">
                        <h2>Verschiedene USB Anschlüsse</h2>
                        <img src="/imgs/ports/usb/usba.jpg" alt="USB A Port" id = "USBAPort"/>
                    </a>
                </div>
                <div id = "video">
                    <a href = "/ports/video" id = "describeportVIDEO">
                        <h2>Verschiedene Videoanschlüsse</h2>
                        <img src = "/imgs/ports/videoports.jpg" alt = "Video port general" id = "videoports"/>
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>