<!DOCTYPE html/>
<!-- Daniel Isler -->
<html>
    <head>
        <title>Anschlüsse</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link rel="stylesheet" href="/styles/ports.css" type="text/css"/>
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../partials/header.ejs %>
        <main>
            <h1>Ein kleiner Test zur Repetition der eben erlernten Fakten:</h1>
        </main>
    </body>
</html>