<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>Video</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class = "title">
                <h1>Video-Anschlüsse</h1>
            </div>
            <div class = "text">
                <p>Video-Anschlüsse werden dazu verwendet um Bild und häufig auch Ton von einem Gerät auf ein anderes Gerät zu übertragen. Beispielsweise kann das Bild von der Grafikkarte von einem Computer über einen Video-Anschluss auf einen Beamer übertragen werden. Die Verschiedenen Video-Anschlüsse haben unterschiedliche Eigenschaften und sind damit auch für verschiedene Zwecke besser, respektive schlechter geeignet. Hier haben wir die wichtigsten Video-Anschlüsse aufgeführt.<p>
            </div>
            <div class = "video">
                <div id = "display">
                    <a href = "/ports/video/dp">
                        <h2>DisplayPort</h2>
                        <img src="/imgs/ports/video/displayportlogo.png" alt="Logo of the DisplayPort"/>
                    </a>
                </div>
                <div id = "vga">
                    <a href = "/ports/video/vga">
                        <h2>VGA</h2>
                        <img src = "/imgs/ports/video/vga.jpg" alt = "VGA port"/>
                    </a>
                </div>
                <div id = "hdmi">
                    <a href = "/ports/video/hdmi">
                        <h2>HDMI</h2>
                        <img src = "/imgs/ports/video/hdmi.png" alt = "HDMI socket"/>
                    </a>
                </div>
                <div id = "dvi">
                    <a href = "/ports/video/dvi">
                        <h2>DVI</h2>
                        <img src = "/imgs/ports/video/dvi.png" alt = "DVI logo"/>
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
