<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <title>Video</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class = "title">
        <h1>Video-Anschlüsse</h1>
      </div>
      <div>
        <p>Videoanschlüsse werden dazu verwendet, um Bild und häufig auch Ton von einem Gerät auf ein anderes Gerät zu übertragen. Beispielsweise kann das Bild von der Grafikkarte von einem Computer über einen Videoanschluss auf einen Projektor übertragen werden. Die verschiedenen Videoanschlüsse haben unterschiedliche Eigenschaften und sind damit auch für verschiedene Zwecke besser, respektive weniger gut geeignet. Hier haben wir die wichtigsten Videoanschlüsse aufgeführt.</p>
      </div>
      <div class = "video">
        <div id = "display">
          <a href = "/ports/video/dp">
            <h2>DisplayPort</h2>
            <div>
              <img src="/imgs/ports/video/displayportlogo.png" alt="Logo of the DisplayPort"/>
            </div>
          </a>
        </div>
        <div id = "vga">
          <a href = "/ports/video/vga">
            <h2>VGA</h2>
            <div>
              <img src = "/imgs/ports/video/vga.jpg" alt = "VGA port"/>
            </div>
          </a>
        </div>
        <div id = "hdmi">
          <a href = "/ports/video/hdmi">
            <h2>HDMI</h2>
            <div>
              <img src = "/imgs/ports/video/hdmi.png" alt = "HDMI socket"/>
            </div>
          </a>
        </div>
        <div id = "dvi">
          <a href = "/ports/video/dvi">
            <h2>DVI</h2>
            <div>
              <img src = "/imgs/ports/video/dvi.png" alt = "DVI logo"/>
            </div>
          </a>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
