<<<<<<< HEAD
<<<<<<< HEAD
<!DOCTYPE html/>
<!-- Daniel Isler -->
=======
<!DOCTYPE html by Dani I./>

>>>>>>> be02639ef73a78b911dddd99da17614f3b5e3da9
=======
<!DOCTYPE html>
<!-- Daniel Isler -->
>>>>>>> ddb20d03df1980d1eb620c61a6e7518261cbf65f
<html lang = "de">
    <head>
<!--        Stylesheet, Logo und Head verlinken-->
        <title>404 NOT FOUND</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Changa|Monoton" rel="stylesheet">
        <link rel="stylesheet" href="/styles/404.css" type="text/css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
<!--        Ganze Seite in das div, damit sie auf verschiedenen Bildschirmgrössen läuft-->
        <div id = "wholepage">
            <h1>
                404 Page not found
            </h1>
            <h2>
                Falls diese Seite eigentlich verfügbar sein müsste, bitten wir Sie dies uns unter <a href = "/contact" id="contact">Kontakt</a> zu melden, um uns auf allfällige Fehler aufmerksam zu machen.
            </h2>
        </div>
        <a href="javascript:history.go(-1)" id="back">Zurück zur letzten Seite</a>
        <a href="/" id="home">Zur Startseite</a>
    </body>
</html>
