<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>404 NOT FOUND</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Changa|Monoton" rel="stylesheet">
        <link rel="stylesheet" href="/styles/404.css" type="text/css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
		<h1>
			404 Page not found
		</h1>
		<h2>
			Falls diese Seite eigentlich verf체gbar sein m체sste, bitten wir Sie dies uns unter <a href = "/contact" id="contact">Kontakt</a> zu melden, um uns auf allf채llige Fehler aufmerksam zu machen.
		</h2>
        <a href="javascript:history.go(-1)" id="back">Zur체ck zur letzten Seite</a>
        <a href="/" id="home">Zur Startseite</a>
    </body>
</html>
