<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
	 <link rel="stylesheet" href="/styles/404.css">
	 <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Righteous" rel="stylesheet">
    <title>404 Page not Found</title>
  </head>
  <body>
	  <div id="top">
		  <h1>Sorry, this page is not found.</h1>
	  </div>
	  <div id="middle">
		  <hr>
		  <img id="image" src="/imgs/404.png" alt="404" />
		  <hr>
	  </div>
	  <div id="bottom">
		  <a id="link" href="/">HOME</a>
	  </div>
  </body>
</html>