<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <title>Über uns</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <main>
      <div class="title">
        <h1>Über uns</h1>
      </div>
      <div class="shortlink">
        <h2>Shortlinks</h2>
        <ul>
          <li><a href="#concept">Unser Konzept</a></li>
          <li><a href="#developers">Die Entwickler</a></li>
        </ul>
      </div>
      <div class="text">
        <div id = "concept">
          <h2>Unser Konzept</h2>
          <p>Die Website CSAcademy.ch entstand aus einer Maturaarbeit an der Kantonsschule Baden. Der Hintergrund dazu ist, dass im Schuljahr 2016/2017 ein wissenschaftlich orientierter Informatikunterricht als Pflichtfach eingeführt wurde. Als obligatorisches Fach ist der Informatikunterricht an den aargauischen Kantonsschulen in seiner inhaltlichen Tiefe und Dotation einzigartig in der Schweiz. Daher rührt es wahrscheinlich auch, dass viele Schüler Probleme damit haben im Unterricht mitzukommen, womit das Fach regelrecht zu einer Qual werden kann.
            <br>
            Dies soll nun aber dank CSAcademy.ch geändert werden, denn auf der Webseite können Studierende, die Probleme haben mit dem Unterrichtstempo mitzukommen, bequem und in ihrem eigenen Lernrhythmus lernen. Die Webseite bietet nicht nur Schülern mit Schwierigkeiten, sondern auch denjenigen, die unterfordert sind, Kurse an. Diese Schüler können sich im Kapitel der Algorithmen in spannende und auch sehr schwierige Algorithmen vertiefen. Dank den Animationen wird die Verständlichkeit verbessert. Sie können sich aber auch im Programmierteil sehr schwierigen Aufgaben widmen und so beispielsweise ein Programm zur Simulation unseres Sonnensystems erstellen.</p>
          </div>
          <div id = "developers">
            <h2>Die Entwickler</h2>
            <p>Die Entwickler der Webseite sind drei Schüler aus der Kantonsschule Baden. Dominic Wüst, Dominic Wolf und Daniel Isler besuchten alle die Kantonschule Baden, als der Informatikunterricht neu eingeführt wurde. Sie haben sich zudem viel in ihrer Freizeit mit der Informatik beschäftigt und besuchen nun zusammen das Ergänzungsfach.</p>
          </div>
        </div>
      </main>
      <%- include partials/footer1.ejs %>
    </body>
</html>
