<!DOCTYPE html>
<!-- Dominic Wolf -->
<html>
	<head>
        <meta charset="utf-8">
        <title>CSAcademy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico" >
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Righteous" rel="stylesheet">
        <link rel="stylesheet" href="styles/contact.css">
				<script src="js/contact.js"></script>
	</head>
    <body id="contactsite" onload="document.contactform.forename.focus();">
    	<%- include partials/header.ejs %>
			<main>
				<div id="top">
	    			<h1>Kontaktieren Sie uns.</h1>
				</div>
				
				<form id="contactform" name="contactform" method="post" onsubmit="checkInput(event);">
					
					<div>
						<label for="forename">Vorname:</label>
						<input class="input" type="text" id="forename" name="forename" placeholder="" />
					</div>
					
					<div>
						<label for="surname">Nachname:</label>
						<input class="input" type="text" id="surname" name="surname" placeholder="" />
					</div>
					
					<div>
						<label for="email">Ihre E-Mail:</label>
						<input class="input" type="text" id="email" name="email" placeholder="" />
					</div>
					
					<div>
						<label for="message">Ihre Nachricht:</label>
						<textarea class="input" id="message" name="message" cols="20" rows="15"></textarea>
					</div>
					
					<div id="button">
						<input type="submit" id="submit" value="Senden"/>
					</div>
				</form>
				
				<div id="persons">
					<div id="person1" onclick="imageswitch()">	
            			<div id="text">
                			<img class="picture" src="https://www.fc-hausen.de/images/personen/alias.png" alt="Kontaktbild" >
                			<h2>Dominic Wolf</h2>
                			<h4>Neuackerstrasse 19c</h4>
                			<h4>5408 Ennetbaden</h4>
                			<h4>dominic.wolf@students.ksba.ch</h4>
            			</div>	
					</div>
					
					<div id="person2" onclick="imageswitch()">			
            			<div id="text">
                			<img class="picture" src="https://www.fc-hausen.de/images/personen/alias.png" alt="Kontaktbild" >
                			<h2>Daniel Isler</h2>
                			<h4>Geissbergstrasse 33</h4>
                			<h4>5408 Ennetbaden</h4>
                			<h4>daniel.isler@students.ksba.ch</h4>
            			</div>	
					</div>
					
					<div id="person3" onclick="imageswitch()">
            			<div id="text">
                			<img class="picture" src="https://www.fc-hausen.de/images/personen/alias.png" alt="Kontaktbild" >
                			<h2>Dominic Wüst</h2>
                			<h4>Ausserdorfstrasse 35</h4>
                			<h4>5107 Schinznach-Dorf</h4>
                			<h4>dominic-frederic.wuest@students.ksba.ch</h4>
            			</div>	
					</div>
					
        		</div>
			</main>
    	<%- include partials/footer.ejs %>
	</body>