<!DOCTYPE html/>
<html lang= "de">
<head>
    <tiltle>Informatik</tiltle>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <header>
        <link href = "styles/index.css" rel = "stylesheet" type="text/css"/>
        <nav>
            <h1>Der Online Informatikunterricht</h1>
            <ul>
                <li><a href = "home.html">Menu<a/></li>
                <li><a href = "about.html">&Uuml;ber<a/></a></li>
                <li><a href = "contact.html">Kontakt</a></li>
                <li><a href = "links.html">Links<a/></a></li>
            </ul>
        </nav>
    </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    s<p class="text-primary">.text-primary</p>
    <p class="text-secondary">.text-secondary</p>
    <p class="text-success">.text-success</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-warning">.text-warning</p>
    <p class="text-info">.text-info</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-dark">.text-dark</p>
    <p class="text-body">.text-body</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-white bg-dark">.text-white</p>
    <p class="text-black-50">.text-black-50</p>
    <p class="text-white-50 bg-dark">.text-white-50</p>

    <div class = "container">
        <div class = "row">
            <div class = "text-light bg-dark col-sm-3">Computer Funktionsweise</div>
            <div class = "text-light bg-dark col-sm-3">Programmieren mit Python</div>
            <div class = "text-light bg-dark col-sm-3">Einf&uuml;hrung zu Python turtle</div>
            <div class = "text-light bg-dark col-sm-3">Website mit html</div>
        </div>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "darkBG col-sm-6 col-xs-12">test</div>
            <div class = "darkerBG col-sm-3 col-xs-6">test</div>
            <div class = "darkestBG col-sm-3 col-xs-6">test</div>
        </div>
    </div>
    <footer>
    &copy; 2019, Daniel Isler
    </footer>
</body>
</html>
