<!DOCTYPE html by Dani I. />
<html>
    <head>
        <title>Anschl체sse</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Changa|Monoton" rel="stylesheet">
        <link rel="stylesheet" href="/styles/ports.css" type="text/css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Computer Anschl체sse</h1>
        <h2>Es gibt sehr viele, auch veraltete Computeranschl체sse. Unser Ziel ist es Ihnen hier einige davon n채her zu bringen</h2>
    </body>
</html>