.ports {
  	padding: 0;
	justify-content: space-around;
    background: none;
	width: auto;
	display: flex;
}

p {
  	font-family: sans-serif;
}

#usb, #video {
	text-align: center;
    width: 35%;
	padding: 0px;
    margin: 2%;
}

#usb {
    width: 35%;
}

img {
	max-width: 100%;
	height: auto;
}


@media only screen and (max-aspect-ratio : 13 / 9){
	/*give a different style for smaller devices like mobile phones*/
    main {
		/*repositon the content, so there is no conflict with the header*/
        margin: 0% 11%;
        width: 80%;
    }