header{
/*position header on top*/
    position: absolute;
    top: 0%;
    left: 0%;
}
body{
/*setup of background*/
    background: linear-gradient(#2441B4, #31128B) no-repeat fixed;
    clear: both;
}
main{
/*main content positioned under header*/
    position: absolute;
    top: 5%;
}
h1{
/*style of title*/
    font-family: 'Righteous', cursive;
    font-size: 300%;
    text-align: center;
    color: white;
}
h3{
/*description of page styled*/
    text-align: center;
    color: white;
}
.link img{
/*style all images in main content*/
    width: 20%;
    height: auto;
    position: absolute;   
}
.link a{
/*style the links to the further pages*/
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: aqua;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.5% 0%;
    font-size: 25px;
}
#USBAPort{
/*image usbports position*/
    top: 100%;
    left: 20%
}
#describeportUSB{
/*position link for usb page*/
    width: 20%;
    position: absolute;
    top: 250%;
    left: 20%;
}
#videoports{
/*position image for videoports*/
    width: 20%;
    height: auto;
    position: absolute;
    top: 105%;
    left: 60%;
}
#describeportVIDEO{
/*position link for videoports*/
    width: 20%;
    position: absolute;
    top: 245%;
    left: 60%
}
@media only screen and (max-aspect-ratio : 13 / 9){
/*give a different style for smaller devices like mobile phones*/
    main {
/*repositon the content, so there is no conflict with the header*/
        position: absolute;
        top: 7%;
        margin: 0% 2%;
     }
/*align the content vertically*/
    #USBAPort{
        width: 80%;
        position: absolute;
        left: 10%;
        top: 100%;
    }
    #describeportUSB{
        width: 80%;
        position: absolute;
        top: 430%;
        left: 10%;
    }
    #videoports{
        width: 80%;
        position: absolute;
        left: 10%;
        top: 500%;
    }
    #describeportVIDEO{
        width: 80%;
        position: absolute;
        top: 795%;
        left: 10%
    }
}