body{
    background: linear-gradient(#2441B4, #31128B);
}
h1{
    color: white;
    text-align: center;
}
#usbdescription{
    color: white;
    text-align: center;
    text-decoration-style: wavy;
    font-size: 20px;
}
#fat{
    font-family: 'Bitter', serif;
    font-size: 21px;
    color: aliceblue;
}
#contact{
    text-decoration: none;
    color: white;
    background-color: #229;
    padding: 0% 0.5%;
    border-radius: 20px;
}
img{
    width: 15%;
    height: 29%;
    position: absolute;
    top: 35%;
}
.links a{
    color: black;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 64.3%;
    background-color: aqua;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 15%;
    padding: 0.5% 0%;
    font-size: 20px;
}
#usb1{
    left: 5%;
}
#describeUSB1{
    margin: 0% 4.49%;
}
#usb2{
    left: 30%;
}
#describeUSB2{
    margin: 0% 29.49%;
}
#usb3{
    left: 55%;   
}
#describeUSB3{
    margin: 0% 54.48%;
}
#USBC{
    left: 80%;
}
#describeUSBc{
    margin: 0% 79.48%;
}


#home{
    background: blue;
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    width: 13%;
    margin: 0% 42.5%;
    padding: 0.5% 1%;
    border-radius: 20px;
    position: absolute;
    top: 90%;
}