<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <meta charset="utf-8"/>
    <title>Schlüsselübergabeprotokolle</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href="/styles/navigation.css">
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class = "title">
        <h1>Schlüsselübergabe-Protokolle</h1>
      </div>
      <div>
        <p>Ein Schlüsselübergabeprotokoll erlaubt es zwei Parteien über eine öffentliche, abhörbare Leitung zu kommunizieren. Dabei wird ein gemeinsamer Schlüssel abgemacht, wobei jeweils nur ein Schlüssel veröffentlicht wird, aber beide Schlüssel gebraucht werden, um die Nachricht lesen zu können.</p>
      </div>
      <div class = "keyexchange">
        <div id = "dh">
          <a href = "/protocols/cryptographic/keyexchange/dh">
            <h2>DH</h2>
            <img src = "/imgs/protocols/cryptographic/keyexchange/dh.png" alt = "Diffie Hellman" class = "pics"/>
          </a>
          <a href="https://commons.wikimedia.org/wiki/User:Dav-FL-IN-AZ-id">Dav-FL-IN-AZ-id</a>, <a href="https://commons.wikimedia.org/wiki/File:Diffie-Hellman_Key_Exchange.png">Diffie-Hellman Key Exchange</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="license">CC BY-SA 3.0</a>
        </div>
        <div id = "ecdh">
          <a href = "/protocols/cryptographic/keyexchange/ecdh">
            <h2>ECDH</h2>
            <img src = "/imgs/protocols/cryptographic/keyexchange/ecdh.jpg" alt = "ECDH" class = "pics"/>
          </a>
          <a href="https://commons.wikimedia.org/wiki/User:Petr_Chud%C3%A1%C4%8Dek">Petr Chudáček</a>, <a href="https://commons.wikimedia.org/wiki/File:ECDH.gif">ECDH</a>, zugeschnitten von D. Isler, <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="license">CC BY 3.0</a>
        </div>
        <div id = "rsa">
          <a href = "/protocols/cryptographic/keyexchange/rsa">
            <h2>RSA</h2>
            <img src = "/imgs/protocols/cryptographic/keyexchange/rsa.png" alt = "RSA" class = "pics"/>
          </a>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
