<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>UTF</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link rel="stylesheet" href="/styles/course.css">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <meta charset="utf-8"/>
    </head>
	<body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class="title">
                <h1>UTF</h1>
            </div>
			<div class="shortlink">
                <h2>Shortlinks</h2>
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
            </div>
			<div>
				<div>
					<h2></h2>
					<p></p>
				</div>
				<div>
					<h2></h2>
					<p></p>
				</div>
				<div>
					<h2></h2>
					<p></p>
				</div>
			</div>
  		</main>
		<%- include(partialsPath + 'footer1.ejs') %>
  	</body>
</html>
