<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>UTF</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link rel="stylesheet" href="/styles/course.css">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <meta charset="utf-8"/>
    </head>
	<body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class="title">
                <h1>UTF</h1>
            </div>
			<div class="shortlink">
                <h2>Shortlinks</h2>
				<ul>
					<li><a href="#general">Allgemein</a></li>
					<li><a href="#ascii">ACSII</a></li>
					<li><a href="#unicode">Unicode</a></li>
					<li><a href="#"></a></li>
				</ul>
            </div>
			<div>
				<div id = "general">
					<h2>Allgemein</h2>
					<p>
						<b>UTF</b> steht für <b>U</b>CS <b>T</b>ransforamtion <b>F</b>ormat. Dabei steht <b>UCS</b> für <b>U</b>niversial <b>C</b>oded <b>C</b>haracter <b>S</b>et. UTF ist die Kodierung der Zeichen, die ihrerseits mit einer Unicode-Nummer, durch die das Zeichen dann dargestellt wird. Damit ist UTF also die Kodierung der Unicode-Nummer.
					</p>
				</div>
				<div id = "ascii">
					<h2>ASCII</h2>
					<p>
						<b>ASCII</b> steht für <b>A</b>merican <b>S</b>tandard <b>C</b>ode for <b>I</b>nformation <b>I</b>nterchange. Es handelt sich dabei um eine digitale Kodierung von Zeichen, die sieben Bits pro Zeichen verwendet.
					</p>
				</div>
				<div>
					<h2>Unicode</h2>
					<p>
						Unicode ist ein internationaler Standard, durch den für jedes sinnvolle Zeichen aller bekannten Schrift- und Zeichensysteme ein digitaler Code festgelegt wird. Unicode ist also die Entzifferungstabelle, mit der aufgrund eines Codes ein Zeichen dargestellt werden kann. Der digitale Code besteht dabei aus einer Nummer. Unicode wird regelmässig aktualisiert und es werden neue Zeichen hinzugefügt. Seit Mai 2019 enthält Unicode 137'929 verschiedene Zeichen aus insgesamt 150 Schriftsystemen.
						<br>
						Bei früher verwendeten Systemen, die einen digitalen Code für Zeichen festgelegt haben, kam immer das Problem auf, dass der Platz nicht ausreichte, da neue Zeichen aufgenommen werden mussten. Damit Unicode nicht auch durch ein grösseres System ersetzt werden die Zeichen im Unicode mit 32 Bits kodiert. Damit gibt es also 2<sup>32</sup> = 4'294'967'296 Möglichkeiten, wie ein solcher Code aussehen kann und somit können über vier Milliarden verschiedene Zeichen Kodiert werden. Unicode hat also nicht grosse Reserven für neue Zeichen.
						<br>
						Ein Unicode-Zeichen
					</p>
				</div>
				<div>
					<h2></h2>
					<p></p>
				</div>
			</div>
  		</main>
		<%- include(partialsPath + 'footer1.ejs') %>
  	</body>
</html>
