<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
    <head>
        <title>Datenkompression</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class = "title">
                <h1>Datenkompression</h1>
            </div>
            <div class = "text">
                <p>Die Datenkompression ist, wie im Namen bereits zu erkennen ist, ein Vorgang um digitale Daten zu komprimieren, also zu verdichten oder zu reduzieren. Dabei kann man zwischen der verlustfreien und der verlustbehafteten Kompression unterscheiden. Bei der verlustfreien Kompression können die Originaldaten wieder aus den komprimierten Daten gewonnen werden. Dies wird Beispielsweise beim komprimieren von ausführenden Programmen gebraucht. Dabei werden die Daten einfach in kürzerer Form dargestellt und brauchen somit weniger Speicher, was vorallem beim herunterladen eines Programmes wichtig ist, da es ohne Kompression oftmals sehr lange dauern würde. Die verlustbehaftete Kompression wird häufig beim komprimieren von Bildern eingesetzt. Dabei kann Beispielsweise die Anzahl von Pixeln in einem Bild reduziert werden, aber auch die Genauigkeit der Farben kann reduziert werden, wodurch weniger Speicherplatz benätigt wird. Hier werden verschiedene Wege aufgezeigt, wie Daten komprimiert werden können.</p>
			</div>
            <div class = "compression">
                <div id = "entropy">
                    <a href = "/datacompression/entropy" id = "entropylink">
                        <h2>Entropiekodierung</h2>
                    </a>
                </div>
                <div id = "lz77">
                    <a href = "/datacompression/lz77" id = "lz77link">
                        <h2>LZ77</h2>
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
