::-html {
	height: 100vh;
	scrollbar-base-color: green;
}

body {
  	background : linear-gradient(#2441B4, #31128b) no-repeat fixed;
	margin: 0;
}

main {
	scroll-behavior: smooth;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	overflow: auto;
	height: 92vh;
	padding-right: 25px;
}

main h1 {
  	margin: 0;
  	font-family: 'Righteous', cursive;
}

main h2 {
  	font-family: 'Righteous', cursive;
}

main div {
  	padding: 25px;
  	margin-bottom: 25px;
  	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 50px;
}

main div {
  	margin-top: 25px;
}

.title {
  	text-align: center;
  	font-size: 2em;
}

a {
  	text-decoration: none;
  	color: black;
}

a:hover {
  	text-decoration: underline;
  	color: black;
}

p {
  	font-family: sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

#general{
/*modify all texts*/
    color: black;
    text-align: center;
    text-decoration-style: wavy;
    font-size: 20px;   
}

#connector{
/*get textfields in position and styles four times*/
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
#speed{
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
#color{
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 65%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
.pic img{
/*fit all images in textfields*/
    width: 100%;    
}
@media only screen and (max-aspect-ratio : 13 / 9){
/*give a different style for smaller devices like mobile phones*/
    main {
/*repositon the content, so there is no conflict with the header*/
        margin: 0% 11%;
        width: 80%;
    }
    main p{
        font-size: 200%;
    }
    #connector{
        width: 80%;
        position: absolute;
        top: 45%;
        left: 9%;
    }
    #speed{
        width: 80%;
        position: absolute;
        top: 100%;
        left: 9%;
    }
        #color{
        width: 80%;
        position: absolute;     
        top: 135%;
        left: 9%;
    }
}
