::-html {
	height: 100vh;
	scrollbar-base-color: green;
}

body {
  	background : linear-gradient(#2441B4, #31128b) no-repeat fixed;
	margin: 0;
}

main {
	scroll-behavior: smooth;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	overflow: auto;
	height: 92vh;
	padding-right: 25px;
}

main h1 {
  	margin: 0;
  	font-family: 'Righteous', cursive;
}

main h2 {
  	font-family: 'Righteous', cursive;
}

main div {
  	padding: 25px;
  	margin-bottom: 25px;
  	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 50px;
}

main div {
  	margin-top: 25px;
}

.title {
  	text-align: center;
  	font-size: 2em;
}

a {
  	text-decoration: none;
  	color: black;
}

a:hover {
  	text-decoration: underline;
  	color: black;
}

p {
  	font-family: sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

#general{
/*modify all texts*/
    color: black;
    text-align: center;
    text-decoration-style: wavy;
    font-size: 20px;   
}
#powerdelivery{
/*get textfields in position and styles four times*/
    width: 27.5%;
    height: auto;
    position: absolute;
    top: 61%;
    left: 1.6%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
#ports{
    width: 27.5%;
    height: auto;
    position: absolute;
    top: 61%;
    left: 35.25%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
#pins{
    width: 27.5%;
    height: auto;
    position: absolute;
    top: 61%;
    left: 68.9%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
@media only screen and (max-aspect-ratio : 13 / 9){
/*give a different style for smaller devices like mobile phones*/
    main {
        margin: 0% 11%;
    }
    main p{
        font-size: 200%;
    }
    #powerdelivery{
        width: 80%;
        position: absolute;
        top: 53%;
        left: 9%;
    }
    #ports{
        width: 80%;
        position: absolute;
        top: 97%;
        left: 9%;
    }
        #pins{
        width: 80%;
        position: absolute;     
        top: 140%;
        left: 9%;
    }
}
