<!DOCTYPE html/>
<!-- Daniel Isler -->
<html>
    <head>
        <title>USB 1.X</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href="/styles/ports/usb/1x.css" type="text/css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../../partials/header.ejs %>
        <main>
            <h2>
                Der USB 1 Anschluss
            </h2>
            <hr>
            <p id="general">Der USB 1 Anschluss wurde aufgrund der bei <a href="/ports/usb" id="usblink">USB</a> beschriebenen Problematik mit den vielen verschiedenen Anschlüssen im Januar 1996 eingeführt. Jedoch bekam die Schnittstelle kaum Unterstützung der damals vorhandenen Betriebssysteme, wie beispielsweise Windows. Deswegen und wegen seiner geringen Datensatzübertragungsrate, die bei full speed damals bei lediglich 12Mbits/s, also 12 Millionen Bits pro Sekunde, was selbst damals schon gering war, wurde der USB 1 Anschluss vom Firewire-BUS von Apple dominiert und erhielt den Spitznamen "Useless BUS". </p>
            <div class ="pic">
                <img src="/imgs/ports/usb/usb1ab.png" id="usb1ab" alt="USB A/B">
                <p>Zum USB 1 gehörten zwei Stecker, der USB A, der heute sehr häufig verwendet wird, sowie der USB B, der Quadratförmige Stecker, der rechts auf dem Bild zu sehen ist. Beide Stecker haben die gleiche Funktion, jedoch eine unterschiedliche Form, sodass sie für verschiedene Geräte unterschiedlich gut geeignet sind. Zu dieser Zeit waren dies die einzigen Möglichkeiten ein Gerät mit der USB Schnittstelle kompatibel zu machen.</p>
            </div>
        </main>
    </body>
</html>
