<!DOCTYPE html/>
<!-- Daniel Isler -->
<html>
    <head>
        <title>USB 2.0</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../../partials/header.ejs %>
        <main>
            <h2>
                Der USB 2 Anschluss
            </h2>
            <hr>
            <div id = "content">
                <p id="general">Nachdem der USB 1 Anschluss keinen sehr grossen Erfolg hatte wurde der USB 2.0 Anschluss im April 2000 eingeführt. Mit dem USB 2.0 wurden einige Neuerungen herausgebracht, die auf dieser Seite aufgezeigt werden. Der USB 2.0 Anschluss wird von fast allen Geräten unterstützt und gilt deswegen heute als Standard, jedoch kann auch der alte USB 1 Anschluss immer noch gebraucht werden, aber er kann nicht die Übertragungsgeschwindigkeit eines USB 2.0 Anschlusses erreichten. Erst mit dem USB 2.0 Anschluss wurde die USB Schnittstelle wirklich bekannt und wurde zu einem immer grösserem Erolg.</p>
                <div class ="pic">
                    <div id ="typeab">
                        <img src="/imgs/ports/usb/2small.jpg" alt="Micro A and mini B"/>
                        <p>Mit der zweiten Generation der USB Schnittstelle wurde erstmals ein etwas kleierer Stecker eingeführt, damit kleine Geräte, die Schnittstelle besser in kleine Geräte, wie beispielsweise Kameras eingebaut werden konnte. Es wurde zum einen der Micro-USB Typ A (rechts im Bild), sowie der Mini-USB Typ B (links im Bild) herausgebracht. Es sind beide auch heute noch sehr viel anzutreffen, denn viele Mobiltelefone haben noch einen Micro-USB Anschluss als Ladebuchse und viele Kameras oder kabellose Kopfhöhrer haben eine Mini-USB Anschluss.</p>
                    </div>
                    <div id ="colorspec">
                        <img src ="/imgs/ports/usb/" alt ="USB 1.X"/>
                        <p></p>
                    </div>
                    <div id ="chargers">
                        <img src = "/imgs/ports/usb/" alt ="Charging station"/>
                        <p></p>
                    </div>
                    <div id ="pins">
                        <img src = "/imgs/ports/usb/" alt = "Pins of the USB connector">
                        <p></p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>