<!DOCTYPE html/>
<!-- Daniel Isler -->
<html>
    <head>
        <title>USB 1.X</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../../partials/header.ejs %>
        <main>
            <h2>
                Der USB 2 Anschluss
            </h2>
            <hr>
            <div id = "content">
                
            </div>
        </main>
    </body>
</html>