<!DOCTYPE html/>
<!-- Daniel Isler -->
<html>
    <head>
        <title>USB C</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../../partials/header.ejs %>
        <main>
            <h2>
                Der USB C Anschluss
            </h2>
            <hr>
            <div id = "content">
                <p id="general">Im August 2014 wurde ein neuer USB Stecker veröffentlicht, der USB Typ C. Mit dem USB Typ C wurde es einfacher für Smartphones eine USB 3.X Schnittstelle einzubauen. Diese sind früher aus Platzgründen auf den Micro-B 2.0 ausgewichen, da der Mirco-B 3.0 mit seinen fast 12.5mm Breite zu viel Platz einnahm. Mit dem USB Typ C ist es nun möglich eine USB 3.X Schnittstelle mit wenig Platzverbrauch in ein Smartphone einzubauen. Der USB Typ C ist ausserdem Punktsymmterisch bezüglich des Mittelpunkts, wodurch er auf beide Nöglichkeiten in ein Gerät eingesteckt werden kann. Durch die neue Buchse ist der USB-C Stecker, respektive die USB-C Buchse nicht mit den alten Kabeln kompatiebel. Dieses Problem kann jedoch einfach über einen Adapter gelöst werden.</p>
                <div class ="pic">
                    <div id ="lenght">
                        <img src="/imgs/ports/usb/" alt=""/>
                        <p></p>
                    </div>
                    <div id ="superspeed">
                        <img src ="/imgs/ports/usb/" alt =""/>
                        <p></p>
                    </div>
                    <div id ="pins">
                        <img src = "/imgs/ports/usb/" alt = ""/>
                        <p></p>
                    </div>
                    <div id ="colorspec">
                        <img src = "/imgs/ports/usb/" alt =""/>
                        <p></p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
