<!DOCTYPE html>
<!-- Dominic Wüst -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Linear Search</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Righteous" rel="stylesheet">
    <script src=<%= "/js/" + path + ".js" %> type="text/javascript"></script>
    <script src="/js/codeHighlighting.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
    <script type="text/javascript">
      const codeHighlighting = <%- JSON.stringify(codeHighlighting) %>;
    </script>
  </head>
  <body onload="addHighlighting(); restartAnimation();" onresize="setup();">
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class="title">
        <h1>Linear Search</h1>
      </div>
      <div class="pageShortcuts">
        <h2>Page Shortcuts</h2>
        <ul>
          <li><a href="#usage">Gebrauch</a></li>
          <li><a href="#specs">Spezifikationen</a></li>
          <li><a href="#functionality">Funktionsweise</a></li>
          <li><a href="#exampleCode">Beispielcode</a><ul>
            <li><a href="#python">Python</a></li>
            <li><a href="#java">Java</a></li>
          </ul></li>
          <li><a href="#animatedExample">Animiertes Beispiel</a></li>
        </ul>
      </div>
      <div class="text">
        <div id="usage">
          <h2>Gebrauch</h2>
          <p>Der lineare Suchalgorithmus ist einer der einfachsten Suchalgorithmen, um den Index eines ELements in einem Array zu finden.</p>
          <p>Der Array kann unsortiert sein.</p>
        </div>
        <div id="specs">
          <h2>Spezifikationen</h2>
          <p>Der lineare Suchalgorithmus hat eine best-case Performance von <span class="bigO">O(1)</span>, worst-case von <span class="bigO">O(n)</span> und eine durchschnittliche Performance von <span class="bigO">O(n)</span>.</p>
          <p>Da der Algorithmus keinen weiteren Array benötigt, ist seine Space-Complexity immer <span class="bigO">O(1)</span>.</p>
        </div>
        <div id="functionality">
          <h2>Funktionsweise</h2>
          <p>Bei dem linearen Suchalgorithmus wird über den Array iteriert und den momentanen Index zurückgegeben, falls das Element bei diesem Index dem gesuchten Wert entspricht.</p>
          <p>Da der Algorithmus abgebrochen wird, falls das Element gefunden wurde, kann man sicher sein, dass das Element nicht in dem Array vorhanden ist, falls nach dem Iterieren noch nichts zurückgegeben wurde.</p>
        </div>
        <div id="exampleCode">
          <h2>Beispielcode</h2>
          <p class="codeDescription">Dies ist ein in Python geschriebener Beispielcode:</p>
          <code class="code python">def linearSearch(arr, val): # arr ist der Array, in dem der Wert val gesucht wird
  for i in range(len(arr)): # Man iteriert über den ganzen Array
    if arr[i] == val: # Der untersuchte Wert stimmt mit dem Gesuchten überein
      return i # Der gerade analysierte Index wird zurückgegeben
  return -1 # Der Wert ist nicht in dem Array vorhanden</code>
          <p class="codeDescription">Dies ist ein in Java geschriebener Beispielcode:</p>
          <p>Es können selbstverständlich auch andere Datentypen gebraucht werden. </p>
          <code class="code java">public static int linearSearch(int[] arr, int val) { // arr ist der Array, in dem der Wert val gesucht wird
  for (int i = 0; i < arr.length; i++) { // Man iteriert über den ganzen Array
    if (arr[i] == val) { // Der untersuchte Wert stimmt mit dem Gesuchten überein
      return i; // Der gerade analysierte Index wird zurückgegeben
    }
  }
  return -1; // Der Wert ist nicht in dem Array vorhanden
}</code>
        </div>
        <div id="animatedExample">
          <h2>Animiertes Beispiel</h2>
          <p>Ändere die Position des Sliders, um den gesuchten Wert zu bestimmen und die Animation zu starten.</p>
          <div class="legend">
            <h3>Legende</h3>
            <ul>
              <li><span style="color: purple">Zu findender Wert</span></li>
              <li><span style="color: blue;">Untersuchter Wert</span></li>
              <li><span style="color: green;">Noch nicht untersuchter Wert</span></li>
              <li><span style="color: gray;">Ausgeschlossener Wert</span></li>
            </ul>
          </div>
          <input type="range" id="range" min="0" max="30" value="15" oninput="playing = false; restartAnimation();" onmouseup="restartAnimation(); playing = true;" ontouchend="restartAnimation(); playing = true;">
          <div id="animation"></div>
        </div>
      </div>
    </main>
  </body>
</html>
