<!DOCTYPE html>
<!-- Dominic Wüst -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Secure Hash Algorithmen</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Righteous" rel="stylesheet">
    <script src=<%= "/js/" + path + ".js" %> type="text/javascript"></script>
    <script src="/js/codeHighlighting.js" type="text/javascript"></script>
    <script type="text/javascript">
      const codeHighlighting = <%- JSON.stringify(codeHighlighting) %>;
    </script>
  </head>
  <body onload="hash(''); addHighlighting();">
    <%- include ../../partials/header.ejs %>
    <main>
      <div class="title">
        <h1>Secure Hash Algorithmen</h1>
      </div>
      <div class="pageShortcuts">
        <h2>Page Shortcuts</h2>
        <ul>
          <li><a href="#history">Geschichte</a></li>
          <li><a href="#usage">Gebrauch</a></li>
          <li><a href="#specs">Spezifikationen</a></li>
          <li><a href="#functionality">Funktionsweise</a></li>
          <li><a href="#exampleCode">Beispielcode</a><ul>
            <li><a href="#python">Python</a></li>
            <li><a href="#java">Java</a></li>
          </ul></li>
          <li><a href="#hasher">Input-Hasher</a></li>
        </ul>
      </div>
      <div class="text">
        <div id="history">
          <h2>Geschichte</h2>
          <p>Die Secure Hash Algorithmen ist eine Gruppe von vier Hashing-Algorithmen, welche vom National Institute of Standards and Technology (NIST) veröffentlicht wurden.</p>
          <p></p>
        </div>
        <div id="usage">
          <h2>Gebrauch</h2>
          <p>Die neueren, sicheren Algorithmen der SHA-Gruppe werden oft gebraucht, um Passwörter zu hashen.</p>
          <p>Der SHA-256-Algorithmus wird beim Generieren von digitalen Signaturen für HTTPS-Certificates benutzt.</p>
        </div>
        <div id="specs">
          <h2>Spezifikationen</h2>
        </div>
        <div id="functionality">
          <h2>Funktionsweise</h2>
        </div>
        <div id="exampleCode">
          <h2>Beispielcode</h2>
          <p>Diese Beispielcodes zeigen mögliche Implementierungen des SHA3-512-Algorithmus.</p>
          <p>Dies ist ein in Python geschriebener Beispielcode:</p>
          <code class="code python" id="python"></code>
          <p>Dies ist ein in Java geschriebener Beispielcode:</p>
          <code class="code java" id="java"></code>
        </div>
        <div id="hasher">
          <h2>Input-Hasher</h2>
          <input type="text" name="message" placeholder="Gib hier deine Nachricht ein..." oninput="hash(this.value);">
          <p>Deine mit dem SHA3-512-Algorithmus gehashte Nachricht:</p>
          <p id="hash"></p>
        </div>
      </div>
    </main>
  </body>
</html>
