html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  margin: 0;
  background: linear-gradient(#2441B4, #31128B) no-repeat fixed;
}

html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

main {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  height: 86vh;
  padding-right: 25px;
}

main h1 {
  margin: 0;
  font-family: 'Righteous', cursive;
}

main h2 {
  margin-top: 0;
  font-family: 'Righteous', cursive;
}

main div {
  padding: 25px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

ol, ul {
  font-family: sans-serif;
}

main div:first-child {
  margin-top: 25px;
}

.title {
  text-align: center;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #009;
}

a:hover {
  text-decoration: underline;
  color: #005;
}

.text {
  padding: 0;
  background: none;
}

.text p {
  font-family: sans-serif;
}

.code {
  display: block;
  font-family: monospace;
  width: 95%;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  overflow: auto;
  background-color: #444;
  color: #BBB;
  white-space: pre;
  border-radius: 8px;
  max-height: 400px;
}

.fivestepmapping .code {
  text-align: center;
  width: 35%;
}

.functiondescription ol ol {
  list-style: lower-latin;
  padding-bottom: 10px;
}

.blockprocesses {
  font-family: sans-serif;
}

.operationsList {
  background: rgba(200, 200, 200, 0.8);
  padding: 25px;
  padding-left: 35px;
  border-radius: 50px;
  display: block;
  font-family: sans-serif;
  list-style-type: disc;
  margin-bottom: 20px;
  max-height: 400px;
  overflow: auto;
}

.operationsList li {
  white-space: nowrap;
}

#hasher input {
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  padding: 4px 6px;
  background-color: #DDD;
  font-size: 100%;
}

#hasher input:focus {
  outline: none;
}

#hash {
  overflow-y: auto;
  width: 100%;
  height: auto;
  margin: 0;
  margin-top: 0.5em;
  border-radius: 8px;
  color: #DDD;
  background-color: #777;
  padding: 4px 6px;
}

@media only screen and (max-width : 500px) {
  html {
    font-size: 2em;
  }
}
