html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(#2441B4, #31128B) no-repeat fixed;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2vh;
  width: 90%;
  background-color: #CCC;
  overflow-y: scroll;
}

main h1 {
  margin: 0;
}
