<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <meta charset="utf-8"/>
    <title>UTF</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <script src=<%= "/js/" + path + ".js" %>></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  </head>
  <body onload = "displayExercise(4);">
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class="title">
        <h1>UTF</h1>
      </div>
      <div class="shortlink">
        <h2>Shortlinks</h2>
        <ul>
          <li><a href="#general">Allgemein</a></li>
          <li><a href="#ascii">ACSII</a></li>
          <li><a href="#ISOIEC8859-1">ISO/IEC 8859</a></li>
          <li><a href="#unicode">Unicode</a></li>
          <li><a href="#utf-8">UTF-8</a></li>
          <li><a href="#utf-16">UTF-16</a></li>
          <li><a href="#utf-32">UTF-32</a></li>
        </ul>
      </div>
      <div>
        <div id = "general">
          <h2>Allgemein</h2>
          <p>
            <b>UTF</b> steht für <b>U</b>CS <b>T</b>ransforamtion <b>F</b>ormat. Dabei steht <b>UCS</b> für <b>U</b>niversial <b>C</b>oded <b>C</b>haracter <b>S</b>et. UTF ist die Kodierung der Zeichen, die ihrerseits mit einer Unicode-Nummer, durch die das Zeichen dann dargestellt wird. Damit ist UTF also die Kodierung der Unicode-Nummer.
          </p>
        </div>
        <div id = "ascii">
          <h2>ASCII</h2>
          <p><b>ASCII</b> steht für <b>A</b>merican <b>S</b>tandard <b>C</b>ode for <b>I</b>nformation <b>I</b>nterchange. Es handelt sich dabei um eine digitale Kodierung von Zeichen, die sieben Bits pro Zeichen verwendet. Damit können also 2<sup>7</sup> = 128 verschiedene Codes realisiert, womit 128 verschiedene Zeichen dargestellt werden können. Wegen dem begrenzten Platz und da ASCII von den westlichen Ländern definiert wurde, sind darin keine arabischen Schriftzeichen oder derartige Symbole definiert, sondern nur die lateinischen Buchstaben und noch einige oft verwendete Sonderzeichen. Viele Codes wurden auch dafür gebraucht, um Befehle zu definieren, wie zum Beispiel 'start of text' oder 'bell', womit eine Glocke geläutet werden kann, wenn ein digitaler Code hereinkommt. ASCII ordnet nun also jedem Zeichen eine Nummer zu, die einem 7 Bit langem Code entspricht. In der untenstehenden Grafik ist die ASCII-Tabelle mit einer Legende, in der die Steuerzeichen kurz beschrieben werden. Die Zeichennummer wird dabei mit einer Hexadezimalzahl angegeben, wobei die Zahl in der Tabelle über dem jeweiligen Zeichen steht.</p>
          <h3>ASCII Tabelle</h3>
          <figure class = "tableASCII">
            <!-- display top row of table -->
            <span class = "box"></span>
            <span class = "box">_0</span>
            <span class = "box">_1</span>
            <span class = "box">_2</span>
            <span class = "box">_3</span>
            <span class = "box">_4</span>
            <span class = "box">_5</span>
            <span class = "box">_6</span>
            <span class = "box">_7</span>
            <span class = "box">_8</span>
            <span class = "box">_9</span>
            <span class = "box">_A</span>
            <span class = "box">_B</span>
            <span class = "box">_C</span>
            <span class = "box">_D</span>
            <span class = "box">_E</span>
            <span class = "box">_F</span>
            <!-- zero row -->
            <span class = "box">0_</span>
            <span class = "box">00<br>[NUL]</span>
            <span class = "box">01<br>[SOH]</span>
            <span class = "box">02<br>[STX]</span>
            <span class = "box">03<br>[ETX]</span>
            <span class = "box">04<br>[EOT]</span>
            <span class = "box">05<br>[ENQ]</span>
            <span class = "box">06<br>[ACK]</span>
            <span class = "box">07<br>[BEL]</span>
            <span class = "box">08<br>[BS]</span>
            <span class = "box">09<br>[HT]</span>
            <span class = "box">0A<br>[LF]</span>
            <span class = "box">0B<br>[VT]</span>
            <span class = "box">0C<br>[FF]</span>
            <span class = "box">0D<br>[CR]</span>
            <span class = "box">0E<br>[SO]</span>
            <span class = "box">0F<br>[SI]</span>
            <!-- first row -->
            <span class = "box">1_</span>
            <span class = "box">10<br>[DLE]</span>
            <span class = "box">11<br>[DC1]</span>
            <span class = "box">12<br>[DC2]</span>
            <span class = "box">13<br>[DC3]</span>
            <span class = "box">14<br>[DC4]</span>
            <span class = "box">15<br>[NAK]</span>
            <span class = "box">16<br>[SYN]</span>
            <span class = "box">17<br>[ETB]</span>
            <span class = "box">18<br>[CAN]</span>
            <span class = "box">19<br>[EM]</span>
            <span class = "box">1A<br>[SUB]</span>
            <span class = "box">1B<br>[ESC]</span>
            <span class = "box">1C<br>[FS]</span>
            <span class = "box">1D<br>[GS]</span>
            <span class = "box">1E<br>[RS]</span>
            <span class = "box">1F<br>[US]</span>
            <!-- second row -->
            <span class = "box">2_</span>
            <span class = "box">20<br>[SP]</span>
            <span class = "box">21<br>!</span>
            <span class = "box">22<br>"</span>
            <span class = "box">23<br>#</span>
            <span class = "box">24<br>$</span>
            <span class = "box">25<br>%</span>
            <span class = "box">26<br>&</span>
            <span class = "box">27<br>'</span>
            <span class = "box">28<br>(</span>
            <span class = "box">29<br>)</span>
            <span class = "box">2A<br>*</span>
            <span class = "box">2B<br>+</span>
            <span class = "box">2C<br>,</span>
            <span class = "box">2D<br>-</span>
            <span class = "box">2E<br>.</span>
            <span class = "box">2F<br>/</span>
            <!-- third row -->
            <span class = "box">3_</span>
            <span class = "box">30<br>0</span>
            <span class = "box">31<br>1</span>
            <span class = "box">32<br>2</span>
            <span class = "box">33<br>3</span>
            <span class = "box">34<br>4</span>
            <span class = "box">35<br>5</span>
            <span class = "box">36<br>6</span>
            <span class = "box">37<br>7</span>
            <span class = "box">38<br>8</span>
            <span class = "box">39<br>9</span>
            <span class = "box">3A<br>:</span>
            <span class = "box">3B<br>;</span>
            <span class = "box">3C<br>&gt;</span>
            <span class = "box">3D<br>=</span>
            <span class = "box">3E<br>&lt;</span>
            <span class = "box">3F<br>?</span>
            <!-- fourth row -->
            <span class = "box">4_</span>
            <span class = "box">40<br>@</span>
            <span class = "box">41<br>A</span>
            <span class = "box">42<br>B</span>
            <span class = "box">43<br>C</span>
            <span class = "box">44<br>D</span>
            <span class = "box">45<br>E</span>
            <span class = "box">46<br>F</span>
            <span class = "box">47<br>G</span>
            <span class = "box">48<br>H</span>
            <span class = "box">49<br>I</span>
            <span class = "box">4A<br>J</span>
            <span class = "box">4B<br>K</span>
            <span class = "box">4C<br>L</span>
            <span class = "box">4D<br>M</span>
            <span class = "box">4E<br>N</span>
            <span class = "box">4F<br>O</span>
            <!-- fifth row -->
            <span class = "box">5_</span>
            <span class = "box">50<br>P</span>
            <span class = "box">51<br>Q</span>
            <span class = "box">52<br>R</span>
            <span class = "box">53<br>S</span>
            <span class = "box">54<br>T</span>
            <span class = "box">55<br>U</span>
            <span class = "box">56<br>V</span>
            <span class = "box">57<br>W</span>
            <span class = "box">58<br>X</span>
            <span class = "box">59<br>Y</span>
            <span class = "box">5A<br>Z</span>
            <span class = "box">5B<br>[</span>
            <span class = "box">5C<br>\</span>
            <span class = "box">5D<br>]</span>
            <span class = "box">5E<br>^</span>
            <span class = "box">5F<br>_</span>
            <!-- sixth row -->
            <span class = "box">6_</span>
            <span class = "box">60<br>`</span>
            <span class = "box">61<br>a</span>
            <span class = "box">62<br>b</span>
            <span class = "box">63<br>c</span>
            <span class = "box">64<br>d</span>
            <span class = "box">65<br>e</span>
            <span class = "box">66<br>f</span>
            <span class = "box">67<br>g</span>
            <span class = "box">68<br>h</span>
            <span class = "box">69<br>i</span>
            <span class = "box">6A<br>j</span>
            <span class = "box">6B<br>k</span>
            <span class = "box">6C<br>l</span>
            <span class = "box">6D<br>m</span>
            <span class = "box">6E<br>n</span>
            <span class = "box">6F<br>o</span>
            <!-- seventh row -->
            <span class = "box">7_</span>
            <span class = "box">70<br>p</span>
            <span class = "box">71<br>q</span>
            <span class = "box">72<br>r</span>
            <span class = "box">73<br>s</span>
            <span class = "box">74<br>t</span>
            <span class = "box">75<br>u</span>
            <span class = "box">76<br>v</span>
            <span class = "box">77<br>w</span>
            <span class = "box">78<br>x</span>
            <span class = "box">79<br>y</span>
            <span class = "box">7A<br>z</span>
            <span class = "box">7B<br>&lcub;</span>
            <span class = "box">7C<br>|</span>
            <span class = "box">7D<br>&rcub;</span>
            <span class = "box">7E<br>~</span>
            <span class = "box">7F<br>[DEL]</span>
          </figure>
          <figure class = "legend">
            <h3>Legende der Zeichen:</h3>
            <div class = "commands">
              <h4>Steuerzeichen</h4>
              <p>
                NUL &#8788; No operation = Füllzeichen,  nichts<br>
                SOH &#8788; Star of heading = Start der Überschrift<br>
                STX &#8788; Start of text = Start des Textes<br>
                EOF &#8788; End of file = Ende der Datei<br>
                ENQ &#8788; Enquiry = Anfrage auf Antwort<br>
                ACK &#8788; Acknowledgement = Bestätigung des Eingangs der Nachricht<br>
                BEL &#8788; Bell = Glocke die geläutet wird<br>
                BS &#8788; Backspace = Eine Position zurück<br>
                HT &#8788; Horizontal tabulator = Abstand in horizintaler Richtung (meistens äquivalent zu 4 Leertasten)<br>
                LF &#8788; Linefeed = Neue Zeile, bei neuen Computern mit der Enter-Taste<br>
                VT &#8788; Vertical tabulator: Gleich wie HT in, einfach in vertikale Richtung<br>
                FF &#8788; Form feed = Eine neue Seite wird angefangen<br>
                CR &#8788; Carriage return = Zurück zum Anfang der Linie<br>
                SO &#8788; Shift out = Bei Schreibmaschienen Schriftband nach verschieben (Farbwechsel auf rot)<br>
                SI &#8788; Shift in = Bei Schreibmaschienen Schriftband nach verschieben (Farbwechsel auf schwarz)<br>
                DLE &#8788; Data link escape = Folgende Objekte als Rohdaten interpretieren (nicht als Steuerzeichen oder ähnliches)<br>
                DC1, DC2, DC3, DC4 &#8788; Device control = Gerätesteuerung 1, 2, 3, 4, zum Beispiel Übertragung unterbrechen<br>
                NAK &#8788; Negative acknowledgement = Negative Bestätigung, im vorhergehenden Code wurde ein Fehler festgestellt<br>
                SYN &#8788; Synchronous idle = Synchroner Leerlauf für synchrone Übertragungssysteme<br>
                ETB &#8788; End of transmission block = Ende eines Überblocks<br>
                CAN &#8788; Cancel = Stornieren, die vorhergehenden Daten sollen ignoriert werden<br>
                EM &#8788; End of media = Ende des nutzbaren Teil des Bandes<br>
                SUB &#8788; Substitute = Ersatz fehlerhafter Zeichen, wie strg-z<br>
                ESC &#8788; Escape = Zeichen wird auf den meisten Systemen gesendet, also auch Flucht aus DLE<br>
                FS, GS, RS, US = Begrenzer von Felder von Datenstrukturen, hirarchische Ebene steigt ab in Reihenfolge<br>
                SP &#8788; Space = Leerraum, Abstand<br>
                DEL &#8788; Delete = Löschen des vorhergehenden Zeichens<br>
              </p>
            </div>
            <div class = "letters">
              <p>Buchstaben vom lateinischen Alphabet</p>
            </div>
            <div class = "numbers">
              <p>Ziffern vom Dezimalsystem</p>
            </div>
            <div class = "syntax">
              <p>Satzzeichen, Klammern, Syntax</p>
            </div>
          </figure>
          <h3>Beispiel Aufgaben</h3>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetASCII();">
          <table id = "ASCIIexamples">
            <tr>
              <th class = "ASCIIextable">Zeichen</th>
              <th class = "ASCIIextable">ASCII (hexadezimal)</th>
              <th class = "ASCIIextable">ASCII (binär)</th>
              <th class = "ASCIIextable">ASCII (dezimal)</th>
            </tr>
            <tr>
              <td id = "ASCIIextable0"><input id = "inputASCII-0" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 0);"><br><input id = "buttonASCII0" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(0);"></td>
              <td id = "ASCIIextable1"><input id = "inputASCII-1" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 1);"><br><input id = "buttonASCII1" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(1);"></td>
              <td id = "ASCIIextable2"><input id = "inputASCII-2" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 2);"><br><input id = "buttonASCII2" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(2);"></td>
              <td id = "ASCIIextable3"><input id = "inputASCII-3" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 3);"><br><input id = "buttonASCII3" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(3);"></td>
            </tr>
            <tr>
              <td id = "ASCIIextable4"><input id = "inputASCII-4" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 4);"><br><input id = "buttonASCII4" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(4);"></td>
              <td id = "ASCIIextable5"><input id = "inputASCII-5" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 5);"><br><input id = "buttonASCII5" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(5);"></td>
              <td id = "ASCIIextable6"><input id = "inputASCII-6" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 6);"><br><input id = "buttonASCII6" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(6);"></td>
              <td id = "ASCIIextable7"><input id = "inputASCII-7" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 7);"><br><input id = "buttonASCII7" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(7);"></td>
            </tr>
            <tr>
              <td id = "ASCIIextable8"><input id = "inputASCII-8" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 8);"><br><input id = "buttonASCII8" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(8);"></td>
              <td id = "ASCIIextable9"><input id = "inputASCII-9" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 9);"><br><input id = "buttonASCII9" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(9);"></td>
              <td id = "ASCIIextable10"><input id = "inputASCII-10" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 10);"><br><input id = "buttonASCII10" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(10);"></td>
              <td id = "ASCIIextable11"><input id = "inputASCII-11" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 11);"><br><input id = "buttonASCII11" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(11);"></td>
            </tr>
            <tr>
              <td id = "ASCIIextable12"><input id = "inputASCII-12" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 12);"><br><input id = "buttonASCII12" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(12);"></td>
              <td id = "ASCIIextable13"><input id = "inputASCII-13" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 13);"><br><input id = "buttonASCII13" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(13);"></td>
              <td id = "ASCIIextable14"><input id = "inputASCII-14" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 14);"><br><input id = "buttonASCII14" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(14);"></td>
              <td id = "ASCIIextable15"><input id = "inputASCII-15" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkASCII(this.value, 15);"><br><input id = "buttonASCII15" type = "button" value = "Lösung anzeigen" onclick = "solutionASCII(15);"></td>
            </tr>
          </table>
        </div>
        <div id = "ISOIEC8859-1">
          <h2>ISO/IEC 8859</h2>
          <p>Zwar reichen die 95 druckbaren aus, damit man sich im modernen Englisch austauschen kann. Das Problem liegt aber darin, dass viele Sprachen, die ebenfalls auf dem lateinischen Alphabet basieren weitere Symbole für eine vernünftige Kommunikation benötigen. Mit dem Versuch dieses Problem zu beheben wurde ISO/IEC 8859 mit 96 weiteren Druckbaren Zeichen eingeführt. Dabei sind die ersten 128 Hexadezimalzahlen den gleichen Zeichen zugeordnet wie in der ASCII-Tabelle, damit diese kompatibel ist. Die Steuerungsbefehle wurden bei ISO/IEC 8859 weggelassen, da dieses System für Computer und nicht mehr für Schreibmaschinen konzipiert wurde, womit alle diese Befehle unnötig werden. Die insgesamt 95 + 96 = 191 Zeichen in ISO/IEC 8859-1 reichen aber nicht aus, um alle Sonderzeichen der häufig verwendeten Sprachen in den westlichen Ländern. Deswegen wurden 15 verschiedene ISO/IEC-Tabellen eingeführt, wobei bei allen die erste Hälfte genau gleich ist, damit sie alle mit der alten ASCII-Tabelle kompatibel sind. Die unten aufgeführte Tabelle ISO/IEC 8859-1 wird unter anderem von Geräten verwendet, die ihre Spracheinstellung auf Deutsch gestellt haben.</p>
          <h3>ISO/IEC 8859-1</h3>
          <h4>8-Bit Kodierung, Variante Latin-1, für westeuropäische Länder</h4>
          <figure class = "tableISOIEC">
            <!-- display top row of table -->
            <span class = "box"></span>
            <span class = "box">_0</span>
            <span class = "box">_1</span>
            <span class = "box">_2</span>
            <span class = "box">_3</span>
            <span class = "box">_4</span>
            <span class = "box">_5</span>
            <span class = "box">_6</span>
            <span class = "box">_7</span>
            <span class = "box">_8</span>
            <span class = "box">_9</span>
            <span class = "box">_A</span>
            <span class = "box">_B</span>
            <span class = "box">_C</span>
            <span class = "box">_D</span>
            <span class = "box">_E</span>
            <span class = "box">_F</span>
            <!-- zero row -->
            <span class = "box">0_</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <span class = "box">N</span>
            <span class = "box">i</span>
            <span class = "box">c</span>
            <span class = "box">h</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box">b</span>
            <span class = "box">e</span>
            <span class = "box">l</span>
            <span class = "box">e</span>
            <span class = "box">g</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <!-- first row -->
            <span class = "box">1_</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <span class = "box">N</span>
            <span class = "box">i</span>
            <span class = "box">c</span>
            <span class = "box">h</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box">b</span>
            <span class = "box">e</span>
            <span class = "box">l</span>
            <span class = "box">e</span>
            <span class = "box">g</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <!-- second row -->
            <span class = "box">2_</span>
            <span class = "box">20<br>[SP]</span>
            <span class = "box">21<br>!</span>
            <span class = "box">22<br>"</span>
            <span class = "box">23<br>#</span>
            <span class = "box">24<br>$</span>
            <span class = "box">25<br>%</span>
            <span class = "box">26<br>&</span>
            <span class = "box">27<br>'</span>
            <span class = "box">28<br>(</span>
            <span class = "box">29<br>)</span>
            <span class = "box">2A<br>*</span>
            <span class = "box">2B<br>+</span>
            <span class = "box">2C<br>,</span>
            <span class = "box">2D<br>-</span>
            <span class = "box">2E<br>.</span>
            <span class = "box">2F<br>/</span>
            <!-- third row -->
            <span class = "box">3_</span>
            <span class = "box">30<br>0</span>
            <span class = "box">31<br>1</span>
            <span class = "box">32<br>2</span>
            <span class = "box">33<br>3</span>
            <span class = "box">34<br>4</span>
            <span class = "box">35<br>5</span>
            <span class = "box">36<br>6</span>
            <span class = "box">37<br>7</span>
            <span class = "box">38<br>8</span>
            <span class = "box">39<br>9</span>
            <span class = "box">3A<br>:</span>
            <span class = "box">3B<br>;</span>
            <span class = "box">3C<br>&gt;</span>
            <span class = "box">3D<br>=</span>
            <span class = "box">3E<br>&lt;</span>
            <span class = "box">3F<br>?</span>
            <!-- fourth row -->
            <span class = "box">4_</span>
            <span class = "box">40<br>@</span>
            <span class = "box">41<br>A</span>
            <span class = "box">42<br>B</span>
            <span class = "box">43<br>C</span>
            <span class = "box">44<br>D</span>
            <span class = "box">45<br>E</span>
            <span class = "box">46<br>F</span>
            <span class = "box">47<br>G</span>
            <span class = "box">48<br>H</span>
            <span class = "box">49<br>I</span>
            <span class = "box">4A<br>J</span>
            <span class = "box">4B<br>K</span>
            <span class = "box">4C<br>L</span>
            <span class = "box">4D<br>M</span>
            <span class = "box">4E<br>N</span>
            <span class = "box">4F<br>O</span>
            <!-- fifth row -->
            <span class = "box">5_</span>
            <span class = "box">50<br>P</span>
            <span class = "box">51<br>Q</span>
            <span class = "box">52<br>R</span>
            <span class = "box">53<br>S</span>
            <span class = "box">54<br>T</span>
            <span class = "box">55<br>U</span>
            <span class = "box">56<br>V</span>
            <span class = "box">57<br>W</span>
            <span class = "box">58<br>X</span>
            <span class = "box">59<br>Y</span>
            <span class = "box">5A<br>Z</span>
            <span class = "box">5B<br>[</span>
            <span class = "box">5C<br>\</span>
            <span class = "box">5D<br>]</span>
            <span class = "box">5E<br>^</span>
            <span class = "box">5F<br>_</span>
            <!-- sixth row -->
            <span class = "box">6_</span>
            <span class = "box">60<br>`</span>
            <span class = "box">61<br>a</span>
            <span class = "box">62<br>b</span>
            <span class = "box">63<br>c</span>
            <span class = "box">64<br>d</span>
            <span class = "box">65<br>e</span>
            <span class = "box">66<br>f</span>
            <span class = "box">67<br>g</span>
            <span class = "box">68<br>h</span>
            <span class = "box">69<br>i</span>
            <span class = "box">6A<br>j</span>
            <span class = "box">6B<br>k</span>
            <span class = "box">6C<br>l</span>
            <span class = "box">6D<br>m</span>
            <span class = "box">6E<br>n</span>
            <span class = "box">6F<br>o</span>
            <!-- seventh row -->
            <span class = "box">7_</span>
            <span class = "box">70<br>p</span>
            <span class = "box">71<br>q</span>
            <span class = "box">72<br>r</span>
            <span class = "box">73<br>s</span>
            <span class = "box">74<br>t</span>
            <span class = "box">75<br>u</span>
            <span class = "box">76<br>v</span>
            <span class = "box">77<br>w</span>
            <span class = "box">78<br>x</span>
            <span class = "box">79<br>y</span>
            <span class = "box">7A<br>z</span>
            <span class = "box">7B<br>&lcub;</span>
            <span class = "box">7C<br>|</span>
            <span class = "box">7D<br>&rcub;</span>
            <span class = "box">7E<br>~</span>
            <span class = "box"></span>
            <!-- eight row -->
            <span class = "box">8_</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <span class = "box">N</span>
            <span class = "box">i</span>
            <span class = "box">c</span>
            <span class = "box">h</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box">b</span>
            <span class = "box">e</span>
            <span class = "box">l</span>
            <span class = "box">e</span>
            <span class = "box">g</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <!-- nineth row -->
            <span class = "box">9_</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <span class = "box">N</span>
            <span class = "box">i</span>
            <span class = "box">c</span>
            <span class = "box">h</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box">b</span>
            <span class = "box">e</span>
            <span class = "box">l</span>
            <span class = "box">e</span>
            <span class = "box">g</span>
            <span class = "box">t</span>
            <span class = "box"></span>
            <span class = "box"></span>
            <!-- tenth row -->
            <span class = "box">A_</span>
            <span class = "box">A0<br>NBSP</span>
            <span class = "box">A1<br>¡</span>
            <span class = "box">A2<br>¢</span>
            <span class = "box">A3<br>£</span>
            <span class = "box">A4<br>¤</span>
            <span class = "box">A5<br>¥</span>
            <span class = "box">A6<br>¦</span>
            <span class = "box">A7<br>§</span>
            <span class = "box">A8<br>¨</span>
            <span class = "box">A9<br>©</span>
            <span class = "box">AA<br>ª</span>
            <span class = "box">AB<br>«</span>
            <span class = "box">AC<br>¬</span>
            <span class = "box">AD<br>SHY</span>
            <span class = "box">AE<br>®</span>
            <span class = "box">AF<br>¯</span>
            <!-- eleventh row -->
            <span class = "box">B_</span>
            <span class = "box">B0<br>°</span>
            <span class = "box">B1<br>±</span>
            <span class = "box">B2<br>²</span>
            <span class = "box">B3<br>³</span>
            <span class = "box">B4<br>´</span>
            <span class = "box">B5<br>µ</span>
            <span class = "box">B6<br>¶</span>
            <span class = "box">B7<br>·</span>
            <span class = "box">B8<br>¸</span>
            <span class = "box">B9<br>¹</span>
            <span class = "box">BA<br>º</span>
            <span class = "box">BB<br>»</span>
            <span class = "box">BC<br>¼</span>
            <span class = "box">BD<br>½</span>
            <span class = "box">BE<br>¾</span>
            <span class = "box">BF<br>¿</span>
            <!-- twelfeth row -->
            <span class = "box">C_</span>
            <span class = "box">C0<br>À</span>
            <span class = "box">C1<br>Á</span>
            <span class = "box">C2<br>Â</span>
            <span class = "box">C3<br>Ã</span>
            <span class = "box">C4<br>Ä</span>
            <span class = "box">C5<br>Å</span>
            <span class = "box">C6<br>Æ</span>
            <span class = "box">C7<br>Ç</span>
            <span class = "box">C8<br>È</span>
            <span class = "box">C9<br>É</span>
            <span class = "box">CA<br>Ê</span>
            <span class = "box">CB<br>Ë</span>
            <span class = "box">CC<br>Ì</span>
            <span class = "box">CD<br>Í</span>
            <span class = "box">CE<br>Î</span>
            <span class = "box">CF<br>Ï</span>
            <!-- thirteenth row -->
            <span class = "box">D_</span>
            <span class = "box">D0<br>Ð</span>
            <span class = "box">D1<br>Ñ</span>
            <span class = "box">D2<br>Ò</span>
            <span class = "box">D3<br>Ó</span>
            <span class = "box">D4<br>Ô</span>
            <span class = "box">D5<br>Õ</span>
            <span class = "box">D6<br>Ö</span>
            <span class = "box">D7<br>×</span>
            <span class = "box">D8<br>Ø</span>
            <span class = "box">D9<br>Ù</span>
            <span class = "box">DA<br>Ú</span>
            <span class = "box">DB<br>Û</span>
            <span class = "box">DC<br>Ü</span>
            <span class = "box">DD<br>Ý</span>
            <span class = "box">DE<br>Þ</span>
            <span class = "box">DF<br>ß</span>
            <!-- fourteenth row -->
            <span class = "box">E_</span>
            <span class = "box">E0<br>à</span>
            <span class = "box">E1<br>á</span>
            <span class = "box">E2<br>â</span>
            <span class = "box">E3<br>ã</span>
            <span class = "box">E4<br>ä</span>
            <span class = "box">E5<br>å</span>
            <span class = "box">E6<br>æ</span>
            <span class = "box">E7<br>ç</span>
            <span class = "box">E8<br>è</span>
            <span class = "box">E9<br>é</span>
            <span class = "box">EA<br>ê</span>
            <span class = "box">EB<br>ë</span>
            <span class = "box">EC<br>ì</span>
            <span class = "box">ED<br>í</span>
            <span class = "box">EE<br>î</span>
            <span class = "box">EF<br>ï</span>
            <!-- fiveteenth row -->
            <span class = "box">F_</span>
            <span class = "box">F0<br>ð</span>
            <span class = "box">F1<br>ñ</span>
            <span class = "box">F2<br>ò</span>
            <span class = "box">F3<br>ó</span>
            <span class = "box">F4<br>ô</span>
            <span class = "box">F5<br>õ</span>
            <span class = "box">F6<br>ö</span>
            <span class = "box">F7<br>÷</span>
            <span class = "box">F8<br>ø</span>
            <span class = "box">F9<br>ù</span>
            <span class = "box">FA<br>ú</span>
            <span class = "box">FB<br>û</span>
            <span class = "box">FC<br>ü</span>
            <span class = "box">FD<br>ý</span>
            <span class = "box">FE<br>þ</span>
            <span class = "box">FF<br>ÿ</span>
          </figure>
          <h3>Beispiel Aufgaben</h3>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetISOIEC();">
          <br>
          <table id = "ISOIECexamples">
            <tr>
              <th class = "ISOIECextable">Zeichen</th>
              <th class = "ISOIECextable">ISO/IEC 8859-1 (hexadezimal)</th>
              <th class = "ISOIECextable">ISO/IEC 8859-1 (binär)</th>
              <th class = "ISOIECextable">ISO/IEC 8859-1 (dezimal)</th>
            </tr>
            <tr>
              <td id = "ISOIECextable0"><input id = "inputISOIEC-0" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 0);"><br><input id = "buttonISOIEC0" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(0);"></td>
              <td id = "ISOIECextable1"><input id = "inputISOIEC-1" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 1);"><br><input id = "buttonISOIEC1" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(1);"></td>
              <td id = "ISOIECextable2"><input id = "inputISOIEC-2" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 2);"><br><input id = "buttonISOIEC2" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(2);"></td>
              <td id = "ISOIECextable3"><input id = "inputISOIEC-3" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 3);"><br><input id = "buttonISOIEC3" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(3);"></td>
            </tr>
            <tr>
              <td id = "ISOIECextable4"><input id = "inputISOIEC-4" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 4);"><br><input id = "buttonISOIEC4" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(4);"></td>
              <td id = "ISOIECextable5"><input id = "inputISOIEC-5" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 5);"><br><input id = "buttonISOIEC5" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(5);"></td>
              <td id = "ISOIECextable6"><input id = "inputISOIEC-6" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 6);"><br><input id = "buttonISOIEC6" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(6);"></td>
              <td id = "ISOIECextable7"><input id = "inputISOIEC-7" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 7);"><br><input id = "buttonISOIEC7" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(7);"></td>
            </tr>
            <tr>
              <td id = "ISOIECextable8"><input id = "inputISOIEC-8" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 8);"><br><input id = "buttonISOIEC8" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(8);"></td>
              <td id = "ISOIECextable9"><input id = "inputISOIEC-9" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 9);"><br><input id = "buttonISOIEC9" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(9);"></td>
              <td id = "ISOIECextable10"><input id = "inputISOIEC-10" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 10);"><br><input id = "buttonISOIEC10" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(10);"></td>
              <td id = "ISOIECextable11"><input id = "inputISOIEC-11" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 11);"><br><input id = "buttonISOIEC11" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(11);"></td>
            </tr>
            <tr>
              <td id = "ISOIECextable12"><input id = "inputISOIEC-12" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 12);"><br><input id = "buttonISOIEC12" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(12);"></td>
              <td id = "ISOIECextable13"><input id = "inputISOIEC-13" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 13);"><br><input id = "buttonISOIEC13" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(13);"></td>
              <td id = "ISOIECextable14"><input id = "inputISOIEC-14" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 14);"><br><input id = "buttonISOIEC14" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(14);"></td>
              <td id = "ISOIECextable15"><input id = "inputISOIEC-15" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkISOIEC(this.value, 15);"><br><input id = "buttonISOIEC15" type = "button" value = "Lösung anzeigen" onclick = "solutionISOIEC(15);"></td>
            </tr>
          </table>
        </div>
        <div id = "unicode">
          <h2>Unicode</h2>
          <p>Unicode ist ein internationaler Standard, durch den für jedes sinnvolle Zeichen aller bekannten Schrift- und Zeichensysteme ein digitaler Code festgelegt wird. Es werden also auch Symbole festgelegt, wie beispielsweise die Emoji. Unicode ist also die Entzifferungstabelle, mit der aufgrund eines Codes ein Zeichen dargestellt werden kann. Der digitale Code besteht dabei aus einer Nummer. Unicode wird regelmässig aktualisiert und es werden neue Zeichen hinzugefügt. Seit Mai 2019 enthält Unicode 137'929 verschiedene Zeichen aus insgesamt 150 Schriftsystemen.<br>Bei früher verwendeten Systemen, die einen digitalen Code für Zeichen festgelegt haben, kam immer das Problem auf, dass der Platz nicht ausreichte, da neue Zeichen aufgenommen werden mussten. Damit Unicode nicht auch durch ein grösseres System ersetzt muss, werden die Zeichen in Unicode mit 32 Bits kodiert. Damit gibt es also 2<sup>32</sup> = 4'294'967'296 Möglichkeiten, wie ein solcher Code aussehen kann und somit können über vier Milliarden verschiedene Zeichen kodiert werden. Unicode hat also noch sehr grosse Reserven für neue Zeichen<br>Da eine 32 Bit grosse Binärzahl zu viel Platz braucht wir die Unicodenummer fast überall im Hexadezimalformat angegeben. Eine Unicodenummer sieht folgendermassen aus: U+270D. Man kann also am U+ am Anfang erkennen, dass es sich um eine Unicodenummer handelt, wenn man ein Zeichen mit dieser Nummer darunter sieht. Wie du vielleicht bereits bemerkt hast, beinhaltet die Nummer, die als Beispiel genommen wurde lediglich 16 Bit. Dies scheint aber nur so, weil in der Darstellung die ersten 16 Bit weggelassen wurden, da diese alle die Ziffer 0 haben. Abgespeichert wird die Nummer aber trotzdem im 32 Bit-Format, sofern sie nicht noch kodiert wird.</p>
        </div>
        <div id = "utf-8">
          <h2>UTF-8</h2>
          <p>UTF-8 ist eine Kodierung der Unicodenummer. UTF-8 ist eine Art der Entropiekodierung, da häufig verwendete Zeichen mit weniger Bit kodiert werden als Zeichen, die nur selten verwendet werden. UTF-8 wird von sehr vielen Websites verwendet (die Zeichen auf dieser Webseite werden auch über UTF-8 abgebildet), über 90% weltweit. Bei UTF-8 wird die Unicodenummer in 8 Bit, also 1 Byte grosse Blöcke unterteilt. Dabei entsprechen die ersten sieben Bits der ASCII-Tabelle, wodurch UTF-8 mit ASCII kompatibel gemacht wurde. Die genaue Vorgehensweise der Kodierung wird in der folgenden Grafik erklärt.</p>
          <table class = "utf8tab">
            <tr>
              <th class = "utf8table">Unicode-Bereich</th>
              <th class = "utf8table">UTF-8 Kodierung</th>
              <th class = "utf8table">Erklärung</th>
            </tr>
            <tr>
              <td class = "utf8table">00000000 bis 0000007F</td>
              <td class = "utf8table">0xxxxxxx</td>
              <td class = "utf8table">Dieser Bereich der UTF-8-Kodierung entspricht genau dem Code aus der ASCII-Tabelle. Die 0 am Anfang ist festgelegt, die restlichen Bits, die hier mit x angezeigt werden, können frei gewählt werden. Ein Zeichen, das in der ASCII-Tabelle vorkommt braucht also 1 Byte an Speicherplatz.</td>
            </tr>
            <tr>
              <td class = "utf8table">00000080 bis 000007FF</td>
              <td class = "utf8table"><span class = "indicator">1</span><span class = "counter">1</span><span class ="endicator">0</span>xxxxx<br><span class = "indicator">10</span>xxxxxx</td>
              <td class = "utf8table" rowspan = "3">Wenn Zeichen ausserhalb der ASCII-Tabelle kodiert werden beginnt das erste Byte mit einer <span class = "indicator">1</span> und nicht mit einer 0. Nach dieser 1 folgen so viele weitere <span class = "counter">1</span> wie viele der nachfolgenden Bytes miteinander interpretiert werden sollen. Das Ende dieser Folge von <span class = "indicator">1</span> wir mit einer <span class = "endicator">0</span> markiert. Die nachfolgenden Bytes beginnen alle mit dem Indikator <span class = "indicator">10</span>. Die Bits, bei denen ein x abgebildet ist stehen für die Bits des Unicode-Zeichenwertes. Dabei bilden sie von rechts nach links gelesen die Unicode-Zahl von rechts nach links geschrieben ab. Überflüssige Bits können also nur im ersten oder im zweiten Byte stehen.</td>
            </tr>
            <tr>
              <td class = "utf8table">00000800 bis 0000FFFF</td>
              <td class = "utf8table"><span class = "indicator">1</span><span class = "counter">11</span><span class = "endicator">0</span>xxxx<br><span class = "indicator">10</span>xxxxxx<br><span class = "indicator">10</span>xxxxxx</td>
            </tr>
            <tr>
              <td class = "utf8table">00010000 bis 001FFFFFF</td>
              <td class = "utf8table"><span class = "indicator">1</span><span class = "counter">111</span><span class = "endicator">0</span>xxx<br><span class = "indicator">10</span>xxxxxx<br><span class = "indicator">10</span>xxxxxx<br><span class = "indicator">10</span>xxxxxx</td>
            </tr>
          </table>
          <h3>Beispiel Aufgaben</h3>
          <h4>Schreibe für den binären Unicode immer die niederwertigen (hinteren) 16 Bits, ausser wenn die hochwertigen Bits werden gebraucht, um die Zahl darzustellen, schreibe so viele Bits wie benötigt werden. Schreibe bei UTF-8 zwischen jedem Byte ein Leerzeichen als Hilfe zur Übersichtlichkeit. Schreibe für das Dezimalformat einfach so viele Stellen, wie benötigt werden und für das Hexadezimalformat alle 8 Bytes.</h4>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetUTF8();">
          <br>
          <table id = "UTF8examples">
            <tr>
              <th class = "UTF8extable">Unicode (dezimal)</th>
              <th class = "UTF8extable">Unicode (binär)</th>
              <th class = "UTF8extable">Unicode (hexadezimal)</th>
              <th class = "UTF8extable">UTF-8</th>
            </tr>
            <tr>
              <td id = "UTF8extable0"><input id = "inputUTF8-0" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 0);"><br><input id = "buttonUTF8-0" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(0);"></td>
              <td id = "UTF8extable1"><input id = "inputUTF8-1" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 1);"><br><input id = "buttonUTF8-1" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(1);"></td>
              <td id = "UTF8extable2"><input id = "inputUTF8-2" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 2);"><br><input id = "buttonUTF8-2" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(2);"></td>
              <td id = "UTF8extable3"><input id = "inputUTF8-3" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 3);"><br><input id = "buttonUTF8-3" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(3);"></td>
            </tr>
            <tr>
              <td id = "UTF8extable4"><input id = "inputUTF8-4" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 4);"><br><input id = "buttonUTF8-4" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(4);"></td>
              <td id = "UTF8extable5"><input id = "inputUTF8-5" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 5);"><br><input id = "buttonUTF8-5" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(5);"></td>
              <td id = "UTF8extable6"><input id = "inputUTF8-6" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 6);"><br><input id = "buttonUTF8-6" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(6);"></td>
              <td id = "UTF8extable7"><input id = "inputUTF8-7" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 7);"><br><input id = "buttonUTF8-7" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(7);"></td>
            </tr>
            <tr>
              <td id = "UTF8extable8"><input id = "inputUTF8-8" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 8);"><br><input id = "buttonUTF8-8" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(8);"></td>
              <td id = "UTF8extable9"><input id = "inputUTF8-9" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 9);"><br><input id = "buttonUTF8-9" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(9);"></td>
              <td id = "UTF8extable10"><input id = "inputUTF8-10" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 10);"><br><input id = "buttonUTF8-10" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(10);"></td>
              <td id = "UTF8extable11"><input id = "inputUTF8-11" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 11);"><br><input id = "buttonUTF8-11" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(11);"></td>
            </tr>
            <tr>
              <td id = "UTF8extable12"><input id = "inputUTF8-12" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 12);"><br><input id = "buttonUTF8-12" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(12);"></td>
              <td id = "UTF8extable13"><input id = "inputUTF8-13" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 13);"><br><input id = "buttonUTF8-13" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(13);"></td>
              <td id = "UTF8extable14"><input id = "inputUTF8-14" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 14);"><br><input id = "buttonUTF8-14" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(14);"></td>
              <td id = "UTF8extable15"><input id = "inputUTF8-15" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF8(this.value, 15);"><br><input id = "buttonUTF8-15" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF8(15);"></td>
            </tr>
          </table>
          <br>
          <p>Der Nachteil von UTF-8 wird erst bei der Kodierung ersichtlich. Während UTF-8 zwar viel weniger Daten, bei beispielsweise einer Übertragung benötigt, wie wenn die Unicode-Nummer mit ihren 32 Bit roh übertragen werden würde, sind bei der Unicode-Nummer alle Zeichen mit einer gleich langen Bitfolge kodiert, während bei UTF-8 unterschiedlich lange Bitfolgen auftauchen können, was einen höheren Rechenaufwand erfordert. Deswegen verwendet zum Beispiel Microsoft Windows UTF-16 als Kompromiss zwischen UTF-8 und UTF-32.</p>
        </div>
        <div id = "utf-16">
          <h2>UTF-16</h2>
          <p>UTF-16 ist auch eine Kodierung der Unicode-Nummer, mit der ein Zeichen dargestellt werden kann. Eine UTF-16 Kodierung besteht dabei analog zu UTF-8 aus 16 Bit grossen Blöcken. Dabei benötigt jedes Zeichen einen oder zwei solche Blöcke. Ein Zeichen benötigt also eine Datenmenge von 16 oder 32 Bit. Der Unicode-Zeichenbereich wird in UTF-16 in verschiedene Ebenen (Planes) unterteilt. Diese Ebenen bieten jeweils Platz für 2<sup>16</sup> = 65536 Zeichen, da jedes Zeichen in so einer Ebene mit einem 16 Bit langen Code kodiert wird. UTF-16 ist aufgrund des längeren Codes für die Zeichen nicht mehr kompatibel mit der ASCII-Tabelle. Unicode hat aber noch riesige Reserven, da in Unicode nur 137'929 Zeichen und Symbole vorkommen. Diese Reserven sind auch in UTF-16 vorhanden, weswegen nur 6 der 17 Ebenen gebraucht werden. Hier werden die 6 Ebenen, die in Gebrauch sind und die Kodierung der Zeichen, die in den Ebenen liegen erklärt. UTF-16 wird beispielsweise von Microsoft Windows als Kompromiss zwischen UTF-8 und UTF-32 verwendet. Auch SMS verwendet UTF-16, sobald ein Zeichen ausserhalb der ASCII-Tabelle dargestellt werden muss. Wird ein Zeichen ausserhalb ASCII verwendet wird jedes Zeichen im SMS mit UTF-16 kodiert. Deswegen kann ein SMS, bei dem die Grösse auf 140 Bytes beschränkt ist, 160 Zeichen enthalten, wenn nur Zeichen aus der ASCII-Tabelle verwendet werden, aber lediglich noch 70 Zeichen, wenn ein Symbol ausserhalb der ASCII-Tabelle verwendet wird.</p>
          <div id = "BMP">
            <h3>BMP - Basic Multilingual Plane - Plane 0</h3>
            <p>In der Ebene 0, der BMP sind die Unicodes von U+0000<sub>16</sub> bis U+FFFF<sub>16</sub> = 0<sub>10</sub> bis 65535<sub>10</sub> enthalten. Diese Zeichen sind die heute gebräuchlichen Schriftzeichen von fast allen modernen Sprachen (auch Symbolschriften, wie in Chinesisch oder Japanisch). Die sogenannten Surrogates, die noch vorkommen werden besetzt um den Wechsel in eine andere Ebene zu ermöglichen.<br>Die Unicode-Nummern der Zeichen aus der BMP bestehen aus 16 Nullen und 16 restlichen Bits. Deswegen können sie ganz einfach als 16 Bit Code kodiert werden. Von den 65535 möglichen Codes aus der BMP sind nur noch 64 Codes unbesetzt: von 0870<sub>16</sub> bis 089F<sub>16</sub> = von 2'160<sub>10</sub> bis 2'207<sub>10</sub> und von 2FE0<sub>16</sub> bis 2FEF<sub>16</sub> = von 12'256<sub>10</sub> bis 12'271<sub>10</sub>. In der untenstehenden Grafik wird gezeigt, welche Bereiche Zeichen wo in der BMP liegen.</p>
            <img src = "/imgs/data/digital/signs/utf/bmpmap.png" id = "bmpmap" alt = "BMP-Karte"/>
          </div>
          <div id = "SMP">
            <h3>SMP - Supplementary Multilingual Plane - Plane 1</h3>
            <p>Die erste Ebene, die nicht in der BMP liegt ist die SMP, Supplementary Multilingual Plane. Diese Ebene enthält historische Schriftzeichen, aber auch Lautschriften oder Musiknoten. Zudem sind in dieser Ebene im Bereich der Symbole die Emoji enthalten. Die UTF-16 Kodierung der Zeichen, die ausserhalb der BNO liegt wird in der nachfolgenden Tabelle erklärt.</p>
            <table id = "utf16tab">
              <tr>
                <th class = "utf16table">Erklärung</th>
                <th class = "utf16table">Beispiel</th>
              </tr>
              <tr>
                <td class = "utf16table">Zuerst wird die Unicode-Nummer der darzustellenden Zeichens ins Binärformat umgewandelt</td>
                <td class = "utf16table">U+10101<sub>unicode</sub> = 10101<sub>16</sub> =<br>0001 0000 0001 0000 0001</td>
              </tr>
              <tr>
                <td class = "utf16table">Danach wird das höchstwertige Bit subtrahiert, was also einer subtraktion von 2<sup>17</sup> = 131'072<sub>10</sub> entspricht.</td>
                <td class = "utf16table">-0001 0000 0000 0000 0000=<br><span style = "color: #F22;">0000 0000 00</span><span style = "color: #226;">01 0000 0001</span></td>
              </tr>
              <tr>
                <td class = "utf16table">Nun wird die Binärzahl in der Mitte gespalten, wodurch zwei 10 Bit grosse Binärzahlen entstehen</td>
                <td class = "utf16table"><span style = "color: #F22;">0000 0000 00</span> | <span style = "color: #226;">01 0000 0001</span></td>
              </tr>
              <tr>
                <td class = "utf16table">Jetzt wird jeder 10-Bit Zahl ein Vorsatz angesetzt: der ersten <span style = "color: #22F;">110110</span> und der zweiten <span style = "color: #090;">110111</span>.</td>
                <td class = "utf16table"><span style = "color: #22F;">1101 10</span><span style = "color: #F22;">00 0000 0000</span> <span style = "color: #090;">1101 11</span><span style = "color: #226;">01 0000 0001</span></td>
              </tr>
              <tr>
                <td class = "utf16table">Die erhaltene Binärzahl wird noch ins Hexadezimalsystem übertragen und wir erhalten das Ergebnis der Kodierung</td>
                <td class = "utf16table">D800 DE01</td>
              </tr>
            </table>
            <br>
            <p>In der untenstehenden Grafik wird angezeigt, wo sich welche Zeichen befinden.</p>
            <br>
            <img src = "/imgs/data/digital/signs/utf/smpmap.png" id = "smpmap" alt = "SMP-Karte"/>
          </div>
          <div id = "SIP">
            <h3>SIP - Supplemantary Ideographic Plane - Plane 2</h3>
            <p>Die zweite Ebene ausserhalb der BMP ist die SIP, die Supplementary Ideographic Plane. Diese Ebene wird dazu verwendet, um japanische, chinesische, koreanische und vietnamesische Zeichen darzustellen. Daran, dass diese Zeichen selbst schon eine Zusatzebene brauchen, kann man erkennen, wieso sie nicht in der BMP stehen. Da sie ausserhalb der BMP stehen lohnt sich die UTF-16 Kodierung nicht mehr, sie ist sogar schlechter als UTF-32, da sie mehr Rechenaufwand verursacht, aber dennoch gleich viel Daten verbraucht. In der untenstehenden Grafik ist die SIP genauer aufgeführt.</p>
            <img src = "/imgs/data/digital/signs/utf/sipmap.png" id = "sipmap" alt = "SIP-Karte"/>
            <a href="https://en.wikipedia.org/wiki/en:User:Drmccreedy">Drmccreedy</a>, <a href="https://commons.wikimedia.org/wiki/File:Roadmap_to_Unicode_SIP.svg">Roadmap to Unicode SIP</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
          </div>
          <div id = "SSP">
            <h3>SSP - Supplementary Special-purpose Plane - Plane 14</h3>
            <p>Die dritte Ebene ausserhalb der BMP ist die SSP, die Supplementary Special-purpose Plane. Diese Ebene wurde extra von den anderen Ebenen abgegrenzt, damit Zeichen, die zum Beispiel in der SMP kein Platz mehr haben nicht in diese Ebene gelegt werden. In dieser Ebene werden nicht grafische Zeichen, wie Kontrollzeichen zur Sprachmarkierung abgespeichert. Die Zeichen haben, wie man auch in der folgenden Grafik erkennen kann, nicht ihre eigene Ebene erhalten, da sie in der BMP keinen Platz gefunden haben, sondern da sie sich von den anderen Zeichen abgrenzen sollte.</p>
            <img src = "/imgs/data/digital/signs/utf/sspmap.png" id = "sspmap" alt = "SSP-Karte"/>
            <a href="https://en.wikipedia.org/wiki/en:User:Drmccreedy">Drmccreedy</a>, <a href="https://commons.wikimedia.org/wiki/File:Roadmap_to_Unicode_SSP.svg">Roadmap to Unicode SSP</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
          </div>
          <div id = "PUAB">
            <h3>PUA-A und PUA-B - Private Use Planes A/B - Planes 15/16</h3>
            <p>Die letzten zwei Ebenen sind in UTF-16 als die sogenannten Private Use Planes definiert. Diese Ebenen werden dazu gebraucht, um Zeichen ausserhalb des Unicodes zu definieren. Diese Zeichen werden von Schriftarten verwendet, um Hilfsglyphen zu verweisen, wie zum Beispiel Ligaturen (ineinander geschriebene Buchstaben, wie etwa æ). Solche Zeichen sind nur eingeschränkt interoperabel, können also nicht überall verwendet werden. Wenn eine Software Unicode unterstützt heisst es nicht, dass sie auch die Zuweisung von Zeichen durch andere Parteien wie die PUA-A/B unterstützt. Diese Hilfsglyphen aus diesen zwei Ebenen sind also nicht definiert in Unicode. Sie werden gebraucht, um beispielweise Firmenlogos darzustellen.</p>
          </div>
          <h3>Beispiel Aufgaben</h3>
          <h4>Schreibe für den binären Unicode immer die niederwertigen (hinteren) 16 Bits, ausser wenn die hochwertigen Bits werden gebraucht, um die Zahl darzustellen, schreibe so viele Bits wie benötigt werden. Schreibe für das Dezimalformat einfach so viele Stellen, wie benötigt werden und für das Hexadezimalformat alle 8 Bytes.</h4>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetUTF16();">
          <br>
          <table id = "UTF16examples">
            <tr>
              <th class = "UTF16extable">Unicode (dezimal)</th>
              <th class = "UTF16extable">Unicode (binär)</th>
              <th class = "UTF16extable">Unicode (hexadezimal)</th>
              <th class = "UTF16extable">UTF-16 (hexadezimal)</th>
            </tr>
            <tr>
              <td id = "UTF16extable0"><input id = "inputUTF16-0" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 0);"><br><input id = "buttonUTF16-0" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(0);"></td>
              <td id = "UTF16extable1"><input id = "inputUTF16-1" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 1);"><br><input id = "buttonUTF16-1" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(1);"></td>
              <td id = "UTF16extable2"><input id = "inputUTF16-2" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 2);"><br><input id = "buttonUTF16-2" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(2);"></td>
              <td id = "UTF16extable3"><input id = "inputUTF16-3" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 3);"><br><input id = "buttonUTF16-3" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(3);"></td>
            </tr>
            <tr>
              <td id = "UTF16extable4"><input id = "inputUTF16-4" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 4);"><br><input id = "buttonUTF16-4" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(4);"></td>
              <td id = "UTF16extable5"><input id = "inputUTF16-5" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 5);"><br><input id = "buttonUTF16-5" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(5);"></td>
              <td id = "UTF16extable6"><input id = "inputUTF16-6" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 6);"><br><input id = "buttonUTF16-6" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(6);"></td>
              <td id = "UTF16extable7"><input id = "inputUTF16-7" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 7);"><br><input id = "buttonUTF16-7" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(7);"></td>
            </tr>
            <tr>
              <td id = "UTF16extable8"><input id = "inputUTF16-8" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 8);"><br><input id = "buttonUTF16-8" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(8);"></td>
              <td id = "UTF16extable9"><input id = "inputUTF16-9" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 9);"><br><input id = "buttonUTF16-9" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(9);"></td>
              <td id = "UTF16extable10"><input id = "inputUTF16-10" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 10);"><br><input id = "buttonUTF16-10" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(10);"></td>
              <td id = "UTF16extable11"><input id = "inputUTF16-11" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 11);"><br><input id = "buttonUTF16-11" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(11);"></td>
            </tr>
            <tr>
              <td id = "UTF16extable12"><input id = "inputUTF16-12" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 12);"><br><input id = "buttonUTF16-12" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(12);"></td>
              <td id = "UTF16extable13"><input id = "inputUTF16-13" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 13);"><br><input id = "buttonUTF16-13" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(13);"></td>
              <td id = "UTF16extable14"><input id = "inputUTF16-14" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 14);"><br><input id = "buttonUTF16-14" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(14);"></td>
              <td id = "UTF16extable15"><input id = "inputUTF16-15" type = "text" spellcheck = "false" placeholder = "Gib hier deine Lösung ein" oninput = "checkUTF16(this.value, 15);"><br><input id = "buttonUTF16-15" type = "button" value = "Lösung anzeigen" onclick = "solutionUTF16(15);"></td>
            </tr>
          </table>
        </div>
        <div id = "utf-32">
          <h2>UTF-32</h2>
          <p>UTF-32 ist die simpelste Kodierung der Unicode-Nummer. Dabei wird einfach die Unicode-Nummer mit einer 32 Bit grossen Zahl dargestellt. Damit verbraucht ein Zeichen in UTF-32 immer 32 Bit = 4 Byte Daten, obwohl Zeichen aus der ASCII-Tabelle mit UTF-8 mit lediglich 8 Bit = 1 Byte dargestellt werden können. Der Vorteil von UTF-32 ist, dass der Rechenaufwand bei der Darstellung nur so viel ist, wie für das Dekodieren der Unicode-Nummer gebraucht wird. Bei UTF-8 und UTF-16 hingegen muss zuerst die Unicode-Nummer identifiziert werden.</p>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
