.math {
  display: inline-block;
  height: auto;
  font-weight: 800;
}

#demonstration button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 10px;
  background-color: #444;
  color: #DDD;
  padding: 10px;
  border: none;
}

#demonstration button:focus {
  outline: none;
  cursor: pointer;
}

#demonstration button:hover {
  cursor: pointer;
  background-color: #555;
}

#demonstration button:active {
  background-color: #666;
  cursor: pointer;
}

#factions {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
}

#factions div {
  box-sizing: border-box;
  padding: 30px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

#factions p {
  font-family: sans-serif;
  display: block;
  width: 100%;
  height: 25.5px;
  font-size: 1.2em;
  font-weight: 600;
  margin: 5px 10px;
  white-space: pre;
  text-align: justify;
}

#factions span {
  font-size: 0.8em;
  overflow-x: auto;
  display: block;
  width: 200px;
  height: 25.5px;
  line-height: 25.5px;
  margin: 0 auto;
  text-align: center;
  transition: color 0.5s;
  margin-top: -22.5px;
}

#factionsProcessWrapper {
  background: none;
  margin: 0 auto;
  text-align: center;
  line-height: 45.5px;
  height: 50px;
  padding-top: 10px;
}

#factionsProcess {
  display: inline-block;
  font-size: 2em;
  line-height: normal;
}

#factions h3 {
  font-family: 'Righteous', cursive;
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}

#alice {
  background-color: rgba(100, 0, 0, 0.3);
}

#public {
  background-color: rgba(0, 100, 0, 0.3);
}

#bob {
  background-color: rgba(0, 0, 100, 0.3);
}

@media only screen and (max-device-width : 500px) {
  html {
    font-size: 2em;
  }

  .title {
    font-size: 1em;
  }

  #factions {
    font-size: 0.5em;
  }

  #factionsProcess {
    font-size: 0.9em;
  }
}
