html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

body {
  	background : linear-gradient(#2441B4, #31128b) fixed;
  	background-repeat: repeat-x;
}

main {
	display: grid;
	margin: 0.5vh;
  	grid-template-columns: repeat(2, 48.5%);
	grid-template-rows: 10vh 66vh 14vh;
  	justify-content: center;
	height: 85vh;
}

form {
	display: grid;
	grid-column: 1;
	grid-row: 2;
	margin: 0;
	background-color: white;
	justify-content: space-around;
}

#top {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	display: inline-grid;
	background-color: #444;
}

h1 {
	font-family: "Righteous", cursive;
	color: white;
	font-size: 5vh;
	margin-left: .5vw;
}

label {
	margin: 5% 0 0 0;
	display: block;
  	cursor: pointer;
    color: #3a3a3a;
    font-size: 3vh;
    font-family: Arial, sans-serif;
}

input.input,
textarea {
    border: 1px solid #8c8c8c;
    resize: none;
	width: 100%;
    border-radius: .5vh .5vh;
	padding: 1.5vh;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 2vh;
    color: #8c8c8c;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.5vh;
}

#message {
    height: 7em;
}

input:focus,
textarea:focus {
	box-shadow: inset 0 0 .5vh .1vh;
    outline: none;
}

#button {
	margin: 0 auto 0 auto;
}

input#submit {
    color: white;
    border-radius: .5vh;
    border: 0;
    background-color: #222;
    font-family: Arial, sans-serif;
    font-size: 2vh;
	padding: 1vh;
	box-shadow: 0 .5vh 0 0 #111;
}

#submit:hover {
    transition-duration: .25s;
    background-color: #3a3a3a;
	box-shadow: 0 .5vh 0 0 #222;
	cursor: pointer;
}

#submit:focus {
    transition-duration: .1s;
	background-color: #444;
	box-shadow: 0 -.5vh 0 0 #333;
}

#persons {
	display: flex;
	grid-column: 2;
	grid-row: 2;
	background-color: #555;
	margin: 0;
	justify-content: space-around;
}

#person1, #person2, #person3 {
    background-color: white;
	border-radius: 2vh;
	height: 65%;
	width: 30%;
	margin: auto;
	text-align: center;
    transition-timing-function: ease;
    transition-duration: .25s;
	font-size: 1.2vh;
	font-family: Arial, sans-serif;
	display: grid;
	justify-content: space-around;
}

#person1:hover, #person2:hover, #person3:hover {
    background-color: gainsboro;
    transform: scale(1.05,1.05);
}

.picture {
    margin-top: 10px;
	width: auto;
	height: 23vh;
    border: 1px solid black;
}

@media only screen and (max-width: 1350px) {

	#person1, #person2, #person3 {
		height: 70%;
		width: 70%;
		font-size: 1.5vh;
		padding: 1vh;
		display: none;
	}

	.picture {
        margin-top: 10px;
		width: auto;
		height: 23vh;
        border: 1px solid black;
	}

	input.input, textarea {
		margin-left: 1vh;
	}

	label {
		margin-left: 1vh;
	}
}

@media only screen and (max-aspect-ratio: 11/16) {
	main {
		grid-template-columns: repeat(1,97%);
		grid-template-rows: 10vh 70vh 70vh 5vh;
	}
	form {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#persons {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#person1, #person2, #person3 {
		height: 70%;
		width: 65%;
		font-size: 1.5vh;
	}

	.picture {
        margin-top: 10px;
		width: auto;
		height: 25vh;
        border: 1px solid black;
	}
}

footer {
}
