body {
  margin: 0;
  background : linear-gradient(#2441B4, #31128B) fixed;
  background-repeat: repeat-x;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  height: 92vh;
  padding-right: 25px;
}

main h2 {
  font-family: 'Righteous', cursive;
}

#results div {
  padding: 25px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

#results div:first-child {
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: #009;
}

a:hover {
  text-decoration: underline;
  color: #005;
}

.error p {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  font-family: sans-serif;
}

.error {
  margin: 150px !important;
}
