html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  margin: 0;
  background: linear-gradient(#2441B4, #31128B) no-repeat fixed;
}

main {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  height: 86vh;
  padding-right: 25px;
}

main h1 {
  margin: 0;
  font-family: 'Righteous', cursive;
}

main h2 {
  font-family: 'Righteous', cursive;
}

main div {
  padding: 25px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

main div:first-child {
  margin-top: 25px;
}

.title {
  text-align: center;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #009;
  font-family: sans-serif;
}

a:hover {
  text-decoration: underline;
  color: #005;
}

.text {
  padding: 0;
  background: none;
}

.text p, .text h3 {
  font-family: sans-serif;
}

.text .bigO {
  color: darkblue;
  font-weight: 600;
}

.code {
  white-space: pre;
  display: block;
  font-family: monospace;
  width: 95%;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  overflow-x: auto;
  background-color: #444;
  color: #BBB;
  border-radius: 8px;
}
