footer{
    width: 94%;
    height: auto;
    background-color: darkblue;
    color: lightgrey;
    padding: 0% 3%;
    margin: 0%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

/*Style des Links für die Kontakt Seite*/
#footercontact{
    background-color: #258;
    color: lightgrey;
    text-decoration: none;
    margin: 0%;
    padding: 0.1% 0.5%;
    cursor: grab;
    border-radius: 50px;
}
#description{
    font-family: "Satisfy", cursive;
    font-size: 100%;
}
#copyright{
    font-family: "Caveat", cursive;
    background-color: #249;
    margin: 0% 37.5%;
    border-radius: 300px;
}