footer{
    width: 494%;
    height: auto;
    background-color: darkgrey;
    padding: 0% 3%;
    margin: 0%;
}

#footercontact{
    background-color: #555;
    color: white;
    margin: 0%;
    padding: 0.1% 0.5%;
}
