.two {
  display: grid;
  grid-template-columns: repeat(2, 37.5vw);
  grid-gap: 6vw;
}

.three {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-gap: 3vw;
}

.four {
  display: grid;
  grid-template-columns: repeat(4, 19vw);
  grid-gap: 2vw;
}

.courseLink {
  margin-top: 25px;
  word-wrap: break-word;
}

.pics {
  max-height: 25vh;
  max-width: 20vw;
  display: block;
  margin: 0px auto;
}

.four .pics {
  max-width: 14.5vw;
}

.unavailable {
  text-decoration: line-through !important;
}
