html {
  height: 100%;
}

body{
    background: linear-gradient(#2441B4, #31128B) fixed;
    background-repeat: repeat-y;
    margin: 0;
    text-align: center;
    height: 100%;
}
main{
    position: relative;
    padding: 0 3%;
    margin: auto;
}

#text a{
    text-decoration: none;
    background: linear-gradient(#2221B4, #31127A) fixed;
    padding: 0.1% 0.5%;
    color: aqua;
}

#text {
  position: relative;
  top: 25%;
}
