body{
    background: linear-gradient(#2441B4, #31128B) fixed;
    margin: 0;
    text-align: center;
}
main{
    position: relative;
    margin: 20vh 10vw;
    height: 46vh;
}
main a{
    text-decoration: none;
    background: linear-gradient(#2221B4, #31127A) fixed;
    padding: 0.1% 0.5%;
    color: aqua;
}
