html {
	overflow-y: hidden;
}

body {
	background: #99B9D0;
	margin: 0;
	text-align: center;
}

main {
	position: relative;
	margin: 20vh 10vw;
	height: 46vh;
}

main a {
	background-color: #555;
	color: lightgrey;
	text-decoration: none;
	padding: 6px 10px;
	border-radius: 50px;
}
