::-html {
	height: 100vh;
	scrollbar-base-color: green;
}

body {
  	background : linear-gradient(#2441B4, #31128b) no-repeat fixed;
	margin: 0;
}

main {
	scroll-behavior: smooth;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	overflow: auto;
	height: 86vh;
	padding-right: 25px;
}

main h1 {
  	margin: 0;
  	font-family: 'Righteous', cursive;
}

main h2 {
  	font-family: 'Righteous', cursive;
}

main div {
  	padding: 25px;
  	margin-bottom: 25px;
  	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 25px;
}

main div {
  	margin-top: 25px;
}

.title {
  	text-align: center;
  	font-size: 3em;
}

a {
  	text-decoration: none;
  	color: black;
}

a:hover {
  	text-decoration: underline;
  	color: black;
}

p {
  	font-family: sans-serif;
}

.equation {
	display: inline-block;
	font-size: 150%;
	font-weight: bold;
}

.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0;
    text-align: center;
}

.fraction span {
    display: block;
}

.fraction span.lower {
	border-top: thick solid black;
}

.withpic {
	min-height: 35vh;
}

img #probabillity {
	height: 35vh;
}

.sum {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	text-align: center;
	font-size: 175%;
}

.sum span {
	display: block;
}

.sum span.start {
	text-align: center;
	font-size: 50%;
}

.sum span.end {
	text-align: center;
	font-size: 50%;
	margin-bottom: -20%;
}

.bigparthense {
	font-size: 200%;
	font-weight: lighter;
	vertical-align: sub;
}

.code {
  white-space: pre;
  display: block;
  font-family: monospace;
  width: 95%;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  overflow-x: auto;
  background-color: #444;
  color: #BBB;
  border-radius: 8px;
}

/*give a different style for smaller devices like mobile phones*/
@media only screen and (max-aspect-ratio : 13 / 9) {
    /*repositon the content, so there is no conflict with the header*/
    main {
        margin: 0% 11%;
        width: 80%;
    }
	.title {
		font-size: 2vh;
	}
}