<!-- Daniel Isler -->
<link rel="stylesheet" href="/styles/partials/footer1.css" type="text/css"/>
<footer>
	<div id = "copyright">
    <p>&copy; 2019 Dominic Wüst, Dominic Wolf, Daniel Isler</p>
	</div>
	<a href = "/about" id = "about"><p>Über uns</p></a>
</footer>
