
<!-- Daniel Isler -->
<link href="https://fonts.googleapis.com/css?family=Arapey|Kalam" rel="stylesheet">
<link rel="stylesheet" href="/styles/partials/footer0.css" type="text/css"/>
<footer>
  <div id = "description">
    <p>
      Die Computer Science Academy ist eine Maturaarbeit von drei Schülern aus der Kantonsschule Baden. Unser Ziel ist es, den Informatikunterricht der Kantonsschule so interaktiv unterstützen zu können. Wenn Sie einen Fehler entdecken oder eine Frage an die Entwickler stellen wollen, dann kontaktieren Sie uns doch unter <a href = "/2f8a6bf31f3bd67bd2d9720c58b19c9a" id = "footercontact">Kontakt</a> und geben ihre Nachricht ein.
    </p>
  </div>
  <div id = "copyright">
    <p>
      &copy; 2019 Dominic Wüst, Dominic Wolf, Daniel Isler
    </p>
  </div>
</footer>
