
<!-- Daniel Isler -->
<link href="https://fonts.googleapis.com/css?family=Arapey%7CKalam" rel="stylesheet">
<link rel="stylesheet" href="/styles/partials/footer0.css" type="text/css"/>
<footer>
  <div id="description">
    <p>
      Falls Sie einen Fehler entdecken oder eine Frage an die Entwickler stellen möchten, dann kontaktieren Sie uns doch unter <a href = "/2f8a6bf31f3bd67bd2d9720c58b19c9a" id = "footercontact">Kontakt</a>.
    </p>
  </div>
  <div class="icons">
    <p>Sämtliche Icons auf der Seite stammen von <a href="https://icons8.com" target="_blank">ICONS8</a></p>
  </div>
  <div id = "copyright">
    <p>
      &copy; 2019 Dominic Wüst, Dominic Wolf, Daniel Isler
    </p>
  </div>
</footer>
