<link rel="stylesheet" href="/styles/partials/header.css">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<header>
  <div class="headerlogo">
    <a href="/"><img class="logo" src="/imgs/Logo.png" alt="logo" title="Homepage"></a>
  </div>
  <div class="links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Kurse</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
  </div>
  <div class="searchbarDiv">
    <%- include searchBar.ejs %>
  </div>
</header>
