<!-- Dominic Wüst -->
<link rel="stylesheet" href="/styles/partials/header.css">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<header>
  <div class="headerlogo">
    <a href="/"><img class="logo" src="/imgs/logo.png" alt="logo" title="Homepage"></a>
  </div>
  <div class="links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses?query=">Kurse</a></li>
      <li><a href="/2f8a6bf31f3bd67bd2d9720c58b19c9a">Kontakt</a></li>
    </ul>
  </div>
  <div class="searchbarDiv">
    <%- include searchbar.ejs %>
  </div>
</header>
