<script type="text/javascript" src="js/partials/searchbar.js"></script>
<link rel="stylesheet" href="/styles/partials/searchbar.css">
<div class="search">
  <input type="text" name="searchInput" placeholder="Suche hier nach Kursen..." id="searchBar" oninput="showSuggested();" onfocus="showSuggested();" onblur="hideSuggested();">
  <div id="suggestions" onmousedown="focused = true;" onblur="hideSuggested();"></div>
</div>
