footer {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 100%;
    box-sizing: border-box;
    height: 6vh;
    width: 100%;
    background-color: #333;
    border: 0.5vh solid #555;
    padding: 0 35px;
    align-items: center;
}

#copyright {
	float: left;
	color: white;
	display: inline-block;
	margin-top: -1vh;
}

#about {
  	float: right;
  	text-align: right;
	color: white;
	display: inline-block;
	margin-top: -1vh;
}

@media only screen and (max-width: 1000px) {
	
	footer p {
		font-size: 1.75vh;
	}
	
}
