footer {
    display: grid;
    grid-template-columns: 85% 15%;
    box-sizing: border-box;
    height: 6vh;
    width: 100%;
    background-color: #333;
    border: 0.5vh solid #555;
    padding: 0 35px;
}

#copyright {
  float: left;
	color: white;
	display: inline-block;
}

#about {
  float: right;
  text-align: right;
	color: white;
	display: inline-block;
}

@media only screen and (max-width: 1000px) {
	footer p {
		font-size: 1.75vh;
	}

	#copyright, #about {
	}
}
