footer {
	box-sizing: border-box;
	background-color: #119;
	border: 0.5vh solid #55A;
    width: 100vw;
    height: 10vh;
	text-align: center;
    color: lightgrey;
    clear: both;
    overflow: scroll;
    overflow-x: hidden;
<<<<<<< HEAD
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none; 
}

footer::-webkit-scrollbar { 
    width: 0 !important;
}

p{
    font-size: 120%;
=======
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
	font-size: 0.75em;
}

footer::-webkit-scrollbar {
    width: 0 !important;
}

footer p {
    font-size: 120%;
		margin: 0;
>>>>>>> 17aab823f86424cbdda32f230f9d531628284d53
}

/*Style des Links für die Kontakt Seite*/
#footercontact {
    background-color: #319;
    color: lightgrey;
    text-decoration: none;
    padding: 0.05% 0.5%;
    border-radius: 50px;
}

#description {
    font-family: 'Kalam', cursive;
    font-size: 100%;
<<<<<<< HEAD
=======
		padding: 0.8vh 0;
>>>>>>> 17aab823f86424cbdda32f230f9d531628284d53
}

#copyright {
    font-family: 'Arapey', serif;
    background-color: #249;
    margin: 0% 37.5%;
<<<<<<< HEAD
    border-radius: 100px;
}

@media only screen and (max-width: 1000px){
    footer {
        position: absolute;
		top: 90%;		
    }
	
	p {
		font-size: 180%;
	}
	
	#copyright {
		border-radius: 5px;
	}
}

=======
		font-size: 75%;
    border-radius: 100px;
}

@media only screen and (max-aspect-ratio : 13 / 9){

	footer {
		height: 4vh;
		position: absolute;
		bottom: 0;
	}

	#description {
		display: none;
	}

	#copyright {
		margin: auto;
		background: transparent;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

}
>>>>>>> 17aab823f86424cbdda32f230f9d531628284d53
