footer {
	box-sizing: border-box;
	background-color: #119;
	width: 100vw;
	height: 7vh;
	text-align: center;
	color: lightgrey;
	clear: both;
	overflow: scroll;
	overflow-x: hidden;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	font-size: 0.75em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

footer::-webkit-scrollbar {
	width: 0 !important;
}

footer p {
	font-size: 120%;
	margin: 0;
	font-family: sans-serif;
}

.icons {
	grid-row: 2;
	grid-column: 1;
}

.icons a {
	color: #DDD;
	text-decoration: none;
}

/*Style des Links für die Kontakt Seite*/
#footercontact {
	background-color: #319;
	color: lightgrey;
	text-decoration: none;
	padding: 0.05% 0.5%;
	border-radius: 50px;
}

#description {
	grid-row: 1;
	grid-column: 1 / 3;
	width: 100%;
	font-family: 'Kalam', cursive;
	font-size: 100%;
}

#copyright {
	grid-row: 2;
	grid-column: 2;
	font-family: 'Arapey', serif;
	background-color: #249;
	margin: 0% 20%;
	font-size: 1em;
	box-sizing: content-box;
	padding: 0.2vh 0.6vh;
	border-radius: 100px;
}

@media only screen and (max-aspect-ratio : 13 / 9){

	footer {
		height: 4vh;
		position: absolute;
		bottom: 0;
		font-size: 1vh;
	}

	#description {
		display: none;
	}

	#copyright {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		margin: auto;
		background: transparent;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer .icons {
    display: none;
  }

}
