footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 30px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: #333;
  padding: 0 20px;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer p {
  font-family: sans-serif;
  color: white;
}

.icons {
  overflow: visible;
  white-space: nowrap;
}

.icons a {
  color: white;
}

#copyright {
  float: left;
  color: white;
  display: inline-block;
  white-space: nowrap;
}

#about {
  float: right;
  text-align: right;
  color: white;
  display: inline-block;
  position: absolute;
  right: 35px;
}

@media only screen and (max-aspect-ratio : 13 / 9) {

  #about {
    display: none;
  }

  .icons {
    display: none;
  }

  .text p {
    font-size: 0.9em;
  }

  footer {
    grid-template-columns: 100%;
    position: relative;
    padding: 0;
  }

  #copyright {
    float: none;
    width: 100%;
    text-align: center;
  }

}

@media only screen and (max-width: 410px) {
  #copyright p {
    font-size: 0.8em;
  }
}
