.search {
  width: 60%;
}

#searchBar {
  color: white;
  font-size: 2.5vh;
  box-sizing: border-box;
  padding: 1.5%;
  padding-right: 4.5%;
  border: 0;
  border-radius: 1vh;
  display: block;
  margin: 0 auto;
  width: 100%;
  resize: none;
  background-color: #222;
  background-image: url(/imgs/magnifier.png);
  background-repeat: no-repeat;
  background-size: 5% auto;
  background-position: 98.5%;
  transition: background-color 0.4s;
}

#searchBar:hover {
  background-color: #333
}

#searchBar:focus {
  outline: none;
  background-color: #444;
}

/*
  Search suggestions
*/

#suggestions {
  position: relative;
  margin: 0 auto;
}

#suggestions a {
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 3vh;
  background-color: #333;
  border-top: 0.1vh solid white;
  margin: 0 auto;
  width: 100%;
  padding: 1%;
}

#suggestions a:last-child {
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

#suggestions a:hover {
  background-color: #555;
}
