.languages {
  	padding: 0;
  	background: none;
	justify-content: space-around;
	width: auto;
	display: flex;
}

p {
  	font-family: sans-serif;
}

#python, #html{
	width: 22%;
	text-align: center;
	padding: 0px;
}

.pictures {
	width: auto;
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

img {
	max-width: 100%;
	height: auto;
}
