html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  height: 92vh;
  display: grid;
  background-image: linear-gradient(#2441B4, #31128B);
  background-attachment: fixed;
  grid-template-columns: repeat(3, 32.5%);
  grid-template-rows: 97.5%;
  padding-top: 1.25vh;
  justify-content: space-around;
  box-sizing: border-box;
}

.sectionTitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 3vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  border-bottom: 0.01vh solid black;
}

.exercise {
  font-size: 1.8vh;
  background-color: white;
  grid-column: 1;
}

.exerciseMain {
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 2vh;
  height: 92.8%;
  overflow: auto;
}

#exerciseText {
  overflow-y: auto;
  padding: 0;
  padding-top: 0;
  white-space: pre-wrap;
  margin-top: 2vh;
  font-family: Arial, sans-serif;
  padding-bottom: 1.5vh;
}

#exerciseText code {
  box-sizing: border-box;
  display: block;
  margin: 1vh auto;
  width: 75%;
  background-color: #236;
  color: #AAA;
  padding: 1vh;
  font-size: 2vh;
  tab-size: 4;
  border-radius: 0.5vh;
  border: 0.3vh solid black;
  white-space: pre;
  overflow-x: auto;
  padding-bottom: 1.5vh;
}

#exerciseTitle h1 {
  background-image: url(/imgs/languages/dropdown.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  font-family: 'Righteous', cursive;
  font-size: 3.2vh;
  font-weight: 400;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0.5vh;
}

.exercisesDropdown {
  max-height: 0;
  margin: 0;
  height: auto;
  overflow: auto;
  transition: max-height 1s;
}

.exercisesDropdown ul {
  width: auto;
  margin: 0;
  list-style: none;
  padding: 0;
}

.exercisesDropdown ul:last-child {
  border-bottom: 0.1vh solid #CCC;
}

.exercisesDropdown li {
  box-sizing: border-box;
  padding: 0.5vh;
  cursor: pointer;
  border: 0.1vh solid #CCC;
  border-bottom: 0;
  font-size: 2.5vh;
}

#exerciseTitle:hover + .exercisesDropdown {
  max-height: 20vh;
}

.exercisesDropdown:hover {
  max-height: 20vh;
}

.subexercise {
  box-sizing: border-box;
  display: block;
  background-color: #333;
  border: 0.5vh solid #222;
  padding: 1vh;
  border-radius: 1vh;
  margin: 0 auto;
  margin-top: 2vh;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: #BBB;
}

.workingSubexercise {
  background-image: linear-gradient(#2441B4, #31128B);
  border-color: #31128B;
  color: #DDD;
}

.finishedSubexercise {
  background-color: #6FEE44;
  border-color: #34D100;
  color: #222;
}

.incorrectSubexercise {
  background-color: #FF3F3F;
  border-color: red;
  color: white;
}

.inputContainer {
  height: 100%;
  background-color: #333;
}

.inputContainer h1 {
  color: #BBB;
  border-bottom: 0.01vh solid #BBB;
}

.input {
  background-color: #333;
  height: 95%;
  grid-column: 2;
  line-height: 2vh;
}

.userInput {
  display: grid;
  grid-template-columns: 1fr 20fr;
  grid-template-rows: 95% 5%;
}

#lineNumbers {
  overflow: hidden;
  color: #666;
  font-family: sans-serif;
  height: 80vh;
  padding-left: 2.9vw;
  width: 1vw;
  margin: 0;
  padding-top: 0.5vw;
  line-height: 2vh;
  counter-reset: item;
  border-right: 0.1vw solid #777;
  margin-right: 0.5vw;
}

#lineNumbers li {
  width: 0;
  height: 2vh;
  list-style-type: none;
}

#lineNumbers li:before {
  content: counter(item) " ";
  counter-increment: item;
  float: right;
}

.inputDiv {
  float: right;
  height: 80vh;
}

.input code {
  line-height: 2vh;
  font-family: monospace;
  display: block;
  box-sizing: border-box;
  tab-size: 4;
  -moz-tab-size: 4;
  white-space: pre;
  border: 1vh solid #333;
  background-color: #333;
  color: #AAA;
  font-size: 1.8vh;
  overflow: auto;
  caret-color: white;
  height: 100%;
  border: 0;
  margin-right: 0.5vw;
  margin-top: 0.5vw;
}

.input textarea {
  margin: 0;
  line-height: 2vh;
  height: 80vh;
  font-family: monospace;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  white-space: pre;
  tab-size: 4;
  -moz-tab-size: 4;
  color: transparent;
  background: none;
  resize: none;
  outline: none;
  border: 1vh solid transparent;
  position: absolute;
  caret-color: white;
  font-size: 1.8vh;
  display: block;
  border: 0;
  margin-right: 0.5vw;
  margin-top: 0.5vw;
}

.buttons {
  border-top: 0.01vh solid #BBB;
  height: 5%;
  background-color: #333;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100%;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
}

.input button {
  padding: 0;
  border: 0;
  overflow: show;
  line-height: 0;
  font-size: 1.8vh;
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: color 0.07s, background-color 0.07s, background-image 0.07s;
}

button::-moz-focus-inner {
  border: none;
}

.input button[name="run"] {
  background-image: url(/imgs/languages/run.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 1.7vh;
}

.input button[name="run"]:active {
  color: white;
  background-color: #1ABC9C;
  background-image: url(/imgs/languages/runActive.png);
}

.input button[name="solution"] {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/imgs/languages/solution.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.solutionButtonDiv {
  background-color: white;
  background-image: url(/imgs/languages/solution.png);
  background-repeat: no-repeat;
  background-position: 99%;
  background-size: auto 100%;
  transition: color 0.07s, background-color 0.07s, background-image 0.07s;
}

.solutionButtonDiv:active {
  background-color: #FE9900;
  background-image: url(/imgs/languages/solutionActive.png);
}

.input button[name="solution"]:active {
  color: white;
  background-image: url(/imgs/languages/solutionActive.png);
}

.input button[name="reset"] {
  background-image: url(/imgs/languages/reset.png);
  background-repeat: no-repeat;
  background-position: 99%;
  background-size: auto 90%;
  padding-right: 2vh;
}

.input button[name="reset"]:active {
  color: white;
  background-color: #E74C3C;
  background-image: url(/imgs/languages/resetActive.png);
}

.input button:focus {
  outline: none;
}

.input button:hover {
  cursor: pointer;
}

.input button:active {

}

.output {
  font-size: 1.8vh;
  background-color: white;
  grid-column: 3;
}

#output {
  height: 94.8%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 1vh;
}

.error {
  color: red;
}
