<!DOCTYPE html>
<!-- Dominic Wolf -->
   <html>
    <head>
        <title>Algorithmen</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
            <div class="title">
                <h1>Algorithmen</h1>
            </div>
            <div class="text">
                <p>Algorithmen geben eine Vorgehensweise vor, wie man ein Problem löst. Anhand diesen "Plänen" werden in endlich vielen Einzelschritten Inputs zu neuen Outputs umgewandelt. Du kannst dir hier verschiedene Sortier-, Such- oder Hash-Algorithmen anschauen.</p>
            </div>

                <div class="algorithms">
                        <div id="sorting">
                            <a href="/algorithms/sorting">
                            <h2>Sortierungsalgorithmen</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Shell_sorting_algorithm_color_bars.svg" />
                            </div>
                            </a>
                        </div>
                        <div id="search">
                            <a href="/algorithms/search">
                            <h2>Suchalgorithmen</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/4/40/Binary_search_into_array.svg" />
                            </div>
                            </a>
                        </div>
                        <div id="hash">
                            <a href="/algorithms/hash">
                            <h2>Hash-Algorithmen</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Hash_table_4_1_1_0_0_1_0_LL.svg" />
                            </div>
                            </a>
                        </div>
                </div>
        </main>
    </body>
</html>
