<!DOCTYPE html>
<!-- Dominic Wolf -->
<html lang="de">
  <head>
    <title>Algorithmen</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <link rel="stylesheet" href="/styles/course.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class="title">
        <h1>Algorithmen</h1>
      </div>
      <div>
        <p>Algorithmen geben eine Vorgehensweise vor, wie man ein Problem löst. Anhand diesen "Plänen" werden in endlich vielen Einzelschritten Inputs zu neuen Outputs umgewandelt. Du kannst dir hier verschiedene Sortier-, Such- oder Hash-Algorithmen anschauen.</p>
      </div>
      <div class="algorithms">
        <div id="sorting">
          <a href="/algorithms/sorting"><h2>Sortierungs-Algorithmen</h2></a>
          <div class="pictures">
            <a href="/algorithms/sorting"><img src="/imgs/algorithms/sorting.jpg" alt="Sortierung"/></a>
            <div class="license">
              <a href="https://commons.wikimedia.org/wiki/User:Balu.ertl">Balu Ertl</a>, <a href="https://commons.wikimedia.org/wiki/File:Shell_sorting_algorithm_color_bars.svg">Shell sorting algorithm color bars</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
            </div>
          </div>
        </div>
        <div id="search">
          <a href="/algorithms/search"><h2>Such-Algorithmen</h2></a>
          <div class="pictures">
            <a href="/algorithms/search"><img src="/imgs/algorithms/searching.jpg" alt="Suchen"/></a>
            <div class="license">
              Nomen4Omen, <a href="https://commons.wikimedia.org/wiki/File:Binary_search_into_array.svg">Binary search into array</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0/de/legalcode" rel="license">CC BY-SA 3.0 DE</a>
            </div>
          </div>
        </div>
        <div id="hash">
          <a href="/algorithms/hash">
            <h2>Hash-Algorithmen</h2>
            <div class="pictures">
              <img src="/imgs/algorithms/hashing.jpg" alt="Verschlüsseln"/>
            </div>
          </a>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
