<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <title>Sprachen</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class = "title">
        <h1>Hash-Algorithmen</h1>
      </div>
      <div>
        <p></p>
      </div>
      <div class = "hashingalgorithms">
        <div id = "sha">
          <a href = "/algorithms/hash/sha">
            <h2><span class="st-icon-sharethis:hover"></span></h2>
            <img src = "/imgs/algorithms/hash/" alt = "" id = ""/>
          </a>
        </div>
        <div id = "md">
          <a href = "/algorithms/hash/md">
            <h2>MD</h2>
            <img src = "/imgs/algorithms/hash/" alt = "" id = ""/>
          </a>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
