<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <meta charset="utf-8"/>
    <title>Suchen</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href="/styles/navigation.css">
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class = "title">
        <h1>Such-Algorithmen</h1>
      </div>
      <div>
        <p>Suchalgorithmen werden dazu verwendet, um den Index eines Elementes mit dem gesuchten Wert aus einer sortierten Liste herauszufinden. Es wird also ein gewisser Wert aus einer Liste herausgesucht. Eine Anwendung für einen Suchalgorithmus ist zum Beispiel in einem Telefonbuch einen Namen herauszusuchen.</p>
      </div>
      <div class = "searchingalgorithms">
        <div id = "binary">
          <a href = "/algorithms/search/binary">
            <h2>Binary Search</h2>
            <img src = "/imgs/algorithms/binary.png" alt = "BinarySearch-Algorithm" class = "pics"/>
          </a>
        </div>
        <div id = "linear">
          <a href = "/algorithms/search/linear">
            <h2>Linear Search</h2>
            <img src = "/imgs/algorithms/linear.png" alt = "LinearSearch-Algorithm" class = "pics"/>
          </a>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
