.equation {
	display: inline-block;
	font-size: 150%;
	font-weight: bold;
}

.fraction {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-align: center;
}

.fraction span {
  display: block;
}

.fraction span.lower {
	border-top: thick solid black;
}

.fraction span.upper {
	display: inline-block;
}

.interval {
	display: grid;
  grid-template-columns: 46.875vw 18.75vw 9.375vw;
}

.intervalA {
	background-color: #FAA;
	text-align: center;
}

.intervalB {
	background-color: #AFA;
	text-align: center;
}

.intervalC {
	background-color: #AAF;
	text-align: center;
}

.start {
	float: left;
}

.end {
	float: right;
}

table, th, td {
  text-align: center;
  align-content: center;
  width: 75vw;
  border: 0.1vw solid #000;
  border-collapse: collapse;
  font-size: 110%;
}
