.circle {
  width: 4vw;
  margin: 0vw 1.75vw;
  text-align: center;
  color: #FFF;
  background-color: blue;
}

.triangle {
  align: middle;
  clip-path: polygon(7.6vw 0, 15.2vw 5vw, 0px 5vw);
  height: 5vw;
  width: 15.2vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle3 {
  align: middle;
  clip-path: polygon(11.425vw 0, 22.85vw 5vw, 0px 5vw);
  height: 5vw;
  width: 22.85vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle5 {
  align: middle;
  clip-path: polygon(19.15vw 0, 38.3vw 5vw, 0px 5vw);
  height: 5vw;
  width: 38.3vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle6 {
  align: middle;
  clip-path: polygon(23vw 0, 46vw 5vw, 0px 5vw);
  height: 5vw;
  width: 46vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle9 {
  align: middle;
  clip-path: polygon(34.6vw 0, 69.2vw 5vw, 0px 5vw);
  height: 5vw;
  width: 69.2vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

table, th, td {
  text-align: center;
  align-content: center;
  width: 7.5vw;
  border: 0.1vw solid #000;
  border-collapse: collapse;
  font-size: 110%;
}

td {
  width: 7.5vw;
}

.equation {
	display: inline-block;
	font-size: 150%;
	font-weight: bold;
}

.fraction {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-align: center;
}

.fraction span {
  display: block;
}

.fraction span.lower {
	border-top: thick solid black;
}

.fraction span.upper {
	display: inline-block;
}

.sum {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	text-align: center;
	font-size: 175%;
}

.sum span {
	display: block;
}

.sum span.start {
	text-align: center;
	font-size: 50%;
}

.sum span.end {
	text-align: center;
	font-size: 50%;
	margin-bottom: -20%;
}

.code0 {
  color: #F66;
}

.code1 {
  color: #FFF;
}

/*
  Fix safaris transparency problems
*/
input[type = "button"] {
  background-color: #DDD;
}

main input[type = "text"]:disabled, main textarea:disabled {
  -webkit-text-fill-color: #000;
  opacity: 1;
}

@media only screen and (max-aspect-ratio : 13 / 9) {

  #inputHuffman0, #inputHuffman3, #inputHuffman6, #inputHuffman9 {
    width: 30vw;
  }

  #encoding {
    word-wrap: break-word;
  }

  #encodex {
    font-size: 90%;
  }

  #encodex tr td:nth-child(4), #encodex tr th:nth-child(4) {
    display: none;
  }

}
