.circle {
  text-align: center;
  height: 3vw;
  width: 3vw;
  clip-path: circle();
  color: #FFF;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle {
  align: middle;
  clip-path: polygon(8.25vw 0, 17vw 5vw, 0px 5vw);
  height: 5vw;
  width: 17vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle3 {
  align: middle;
  clip-path: polygon(12.75vw 0, 25.5vw 5vw, 0px 5vw);
  height: 5vw;
  width: 25.5vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle5 {
  align: middle;
  clip-path: polygon(21.5vw 0, 43vw 5vw, 0px 5vw);
  height: 5vw;
  width: 43vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle6 {
  align: middle;
  clip-path: polygon(25.75vw 0, 51.5vw 5vw, 0px 5vw);
  height: 5vw;
  width: 51.5vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

.triangle9 {
  align: middle;
  clip-path: polygon(38.75vw 0, 77.5vw 5vw, 0px 5vw);
  height: 5vw;
  width: 77.5vw;
  margin: 0 0 0 0;
  background: linear-gradient(to top right, #2441B4, #31128B);
}

table, th, td {
  text-align: center;
  align-content: center;
  width: 75vw;
  border: 1px solid #000;
  border-collapse: collapse;
  font-size: 110%;
}

.equation {
	display: inline-block;
	font-size: 150%;
	font-weight: bold;
}

.fraction {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-align: center;
}

.fraction span {
  display: block;
}

.fraction span.lower {
	border-top: thick solid black;
}

.fraction span.upper {
	display: inline-block;
}

.sum {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	text-align: center;
	font-size: 175%;
}

.sum span {
	display: block;
}

.sum span.start {
	text-align: center;
	font-size: 50%;
}

.sum span.end {
	text-align: center;
	font-size: 50%;
	margin-bottom: -20%;
}
