<!DOCTYPE html>
<!-- Dominic Wolf -->
<html lang="de">
  <head>
    <title>Komponenten</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <link rel="stylesheet" href="/styles/course.css">
    <meta charset="utf-8"/>
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class="title">
        <h1>Komponenten</h1>
      </div>
      <div>
        <p>Die Gesamtheit aller physischen Komponenten wird in der Fachsprache Hardware genannt. Wir werden die Funktionen und Eigenschaften der Hauptbestandteile eines Computers hier genauer beschreiben.</p>
      </div>
      <div class="components">
        <div id="motherboard">
          <a href="/components/motherboard"><h2>Motherboard</h2></a>
          <div class="pictures">
            <a href="/components/motherboard"><img src="/imgs/components/motherboard.png" alt="motherboard"/></a>
            <div class="license">
              <a href="https://commons.wikimedia.org/wiki/User:Sturmj%C3%A4ger">Sturmjäger</a> derivative work by <a href="/wiki/User_talk:MaxxL">MaxxL</a>, <a href="https://commons.wikimedia.org/wiki/File:AsRock_H97_Fatal1ty_Sockel_1150-frei.png">AsRock H97 Fatal1ty Sockel 1150-frei</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a>
            </div>
          </div>
        </div>
        <div id="ram">
          <a href="/components/ram"><h2>Arbeitsspeicher | RAM</h2></a>
          <div class="pictures">
            <a href="/components/ram"><img src="/imgs/components/ram.jpg" alt="ram"/></a>
            <div class="license">The original uploader was <a href="https://en.wikipedia.org/wiki/de:User:W-sky">W-sky</a> at <a href="https://en.wikipedia.org/wiki/de:">German Wikipedia</a>., <a href="https://commons.wikimedia.org/wiki/File:DDR-SDRAM-Module.jpg">DDR-SDRAM-Module</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/de/legalcode" rel="license">CC BY-SA 2.0 DE</a></div>
          </div>
        </div>
        <div id="cpu">
          <a href="/components/cpu"><h2>Prozessor | CPU</h2></a>
          <div class="pictures">
            <a href="/components/cpu"><img src="/imgs/components/cpu.jpg" alt="cpu"/></a>
            <div class="license">© Raimond Spekking / CC BY-SA 4.0 (via Wikimedia Commons), <a href="https://commons.wikimedia.org/wiki/File:Intel_NH82801HBM_SLB9A_Southbridge-2408.jpg">Intel NH82801HBM SLB9A Southbridge-2408</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="license">CC BY-SA 4.0</a></div>
          </div>
        </div>
        <div id="gpu">
          <a href="/components/gpu"><h2>Grafikkarte | GPU</h2></a>
          <div class="pictures">
            <a href="/components/gpu"><img src="/imgs/components/gpu.jpg" alt="gpu"/></a>
          </div>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
