<!DOCTYPE html>
   <html>
    <head>
        <title>Komponenten</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
    </head>
    <body>
        <%- include ../partials/header.ejs %>
        <main>
            <div class="title">
                <h1>Komponenten</h1>
            </div>
            <div class="text">
                <p>Die gesamtheit aller physischen Komponenten wird in der Fachsprache Hardware genannt. Wir werden die Funktionen und Eigenschaften der Hauptbestandteile eines Computers hier genauer beschreiben.</p>
            </div>
                <div class="components">
                        <div id="motherboard">
                            <a href="/components/motherboard">
                            <h2>Motherboard</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/AsRock_H97_Fatal1ty_Sockel_1150-frei.png/500px-AsRock_H97_Fatal1ty_Sockel_1150-frei.png" alt="motherboard" />
                            </div>
                            </a>
                        </div>
                        <div id="ram">
                            <a href="/components/gpu">
                            <h2>Arbeitsspeicher | RAM</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/DIMM_DDR3_1600_low_voltage_IMGP6410_wp.jpg/260px-DIMM_DDR3_1600_low_voltage_IMGP6410_wp.jpg" alt="ram" />
                            </div>
                            </a>
                        </div>
                        <div id="cpu">
                            <a href="/components/cpu">
                            <h2>Prozessor | CPU</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Intel_NH82801HBM_SLB9A_Southbridge-2408.jpg/220px-Intel_NH82801HBM_SLB9A_Southbridge-2408.jpg" alt="cpu" />
                            </div>
                            </a>
                        </div>
                        <div id="gpu">
                            <a href="/components/gpu">
                            <h2>Grafikkarte | GPU</h2>
                            <div class="pictures">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/NVIDIA-GTX-1070-FoundersEdition-FL.jpg/220px-NVIDIA-GTX-1070-FoundersEdition-FL.jpg" alt="gpu" />
                            </div>
                            </a>
                        </div>
                </div>
        </main>
    </body>
</html>
