<!DOCTYPE html>
<!-- Dominic Wolf -->
<html>
<head>
        <title>Grafikkarte</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
</head>
<body>
        <%- include ../partials/header.ejs %>
        <main>
                <div class="title">
                        <h1>GPU | Grafikkarte</h1>
                </div>
                <div class="shortlink">
                        <h2>Shortlinks</h2>
                        <ul>
                                <li><a href="#aufgabe">Aufgabe</a></li>
                                <li><a href="#funktion">Funktion</a></li>
                                <li><a href="#aufbau">Aufbau</a></li>
                        </ul>
                </div>
                <div id="aufgabe">
                        <h2>Aufgabe</h2>
                        <p>GPU steht für Graphics Professor Unit also einem Prozessor für Graphiken. Sie ist dafür verantwortlich die Pixel zu berechnen. Hätte man keine GPU, gäbe es zwar Daten, die anzeigt werden könnten aber nicht visualisiert werden. Die Grafikkarte ist ausserdem für die Berechnung von 2D/3D- Grafiken zuständig.</p>
                </div>
                <div id="funktion">
                        <h2>Funktion</h2>
                        <p>Die GPU funktioniert eigentlich gleich, wie ein normaler Prozessor. Allerdings werden die verarbeiteten Daten nur an den Bildschirm und dessen Pixel weitergegeben. Da ein Bildschirm aus Millionen von Pixeln besteht und diese etwa 200 Mal in der Sekunde berechnet werden müssen hat eine Grafikkarte viel mehr Codes als eine normale CPU.</p>
                </div>
                <div id="aufbau">
                        <h2>Aufbau</h2>
                        <p>Die. GPU befindet sich Nahe der CPU und ist mit ihr über einen PCI-Express verbunden. Die meisten Grafikkarte haben heutzutage eigene Lüfter verbaut, die die Prozessoren vom überhitzen schützen.</p>
                </div>
        </main>
</body>
</html>
