<!DOCTYPE html>
<!-- Dominic Wolf -->
<html>
<head>
        <title>Grafikkarte</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href="/styles/course.css">
        <meta charset="utf-8"/>
</head>
<body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
                <div class="title">
                        <h1>GPU | Grafikkarte</h1>
                </div>
                <div class="shortlink">
                        <h2>Shortlinks</h2>
                        <ul>
                                <li><a href="#aufgabe">Aufgabe</a></li>
                                <li><a href="#funktion">Funktion</a></li>
                                <li><a href="#aufbau">Aufbau</a></li>
                        </ul>
                </div>
                <div class="text">
                    <div id="aufgabe">
                        <h2>Aufgabe</h2>
                        <p>GPU steht für Graphics Processing Unit. Sie ist dafür verantwortlich, die Pixel zu berechnen und an den Monitor zu senden. Hätte man keine GPU, gäbe es zwar Daten, die anzeigt werden könnten aber nicht visualisiert werden.</p>
                    </div>
                    <div id="funktion">
                        <h2>Funktion</h2>
                        <p>Die GPU funktioniert ähnlich, wie ein normaler Prozessor. Allerdings werden die verarbeiteten Daten nur an den Monitor weitergegeben. Da ein Bildschirm aus Millionen von Pixeln besteht und diese etwa 60-240 Mal in der Sekunde berechnet werden müssen, besitzt eine Grafikkarte mehr Cores als eine normale CPU.</p>
                        <p>GPUs sind für Matrixoperationen optimiert, welche oft bei Projektionen bentutzt werden, wie beispielsweise das Projezieren eines virtuellen, dreidimensionalen Raumes auf einen zweidimensionalen Monitor.</p>
                    </div>
                    <div id="aufbau">
                        <h2>Aufbau</h2>
                        <p>Die GPU befindet sich in der Nähe der CPU und ist mit ihr über PCI-Express verbunden. Die meisten Grafikkarte haben heutzutage eigene Lüfter verbaut, welche die Cores vom Überhitzen schützen.</p>
                    </div>
                </div>
        </main>
        <%- include(partialsPath + 'footer1.ejs') %>
    </body>
</html>
