<!DOCTYPE html>
<!-- Dominic Wolf -->
<html>
<head>
        <title>Motherboard</title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
        <meta charset="utf-8"/>
</head>
<body>
        <%- include(partialsPath + 'header.ejs') %>
        <main>
                <div class="title">
                        <h1>Motherboard</h1>
                </div>
                <div class="shortlink">
                        <h2>Shortlinks</h2>
                        <ul>
                                <li><a href="#aufgabe">Aufgabe</a></li>
                                <li><a href="#komponenten">Komponenten</a></li>
                        </ul>
                </div>
                <div>
                        <p>Das Motherboard ist das Kernstück von einem Computer. Es wird auch Mainboard oder auf deutsch Hauptplatine genannt. Auf ihm werden die einzelnen Komponenten montiert.</p>
                </div>
                <div id="aufgabe">
                        <h2>Aufgabe</h2>
                        <p>Die Aufgabe eines Motherboardes ist es, alle Komponenten mit Hilfe von Leiterbahnen zu verbinden. Die notwendigen Komponenten, die man auf das Motherboard platzieren muss, sind der Prozessor, der Arbeitsspeicher, verschiedene Erweiterungskarten (Grafikkarte, Soundkarte, PCI-karte) und der BIOS-Chip.</p>
                </div>
                <div id="komponenten">
                        <h2>Komponenten</h2>
                        <ul>
                                <li>
                                        <h3>Sockel</h3>
                                        <p>Auf jedem Motherboard hat es einen Sockel. Auf diesen Sockel wird der Prozessor befestigt. Je nachdem dem, welchen Prozessor man einbauen will, braucht man ein anderes Motherboard welches mit dem jeweiligen Prozessor kompatibel ist.</p>
                                </li>
                                <li>
                                        <h3>RAM-Steckplätze</h3>
                                        <p>Nahe des Prozessors befinden sich die RAM-Steckplätze. Hier werden die <a href="/components/ram"><b>RAM</b></a>-Module eingesetzt. Die neusten und schnellsten, auf dem Markt erhältlichen Module sind die DDR4-Module. Normalerweise hat es 4 Steckplätze, welche farblich gekennzeichnet sind, um den jeweils richtigen Kanal anzusteuern.</p>
                                </li>
                                <li>
                                        <h3>PCI-Steckplätze</h3>
                                        <p>Auf die PCI-Steckplätze werden verschiedene Steckkarten gesteckt. Es gibt verschiedene Arten von PCI-Steckplätzen. Die langsameren PCI und die schnelleren PCI-E. Diese sind mit einer seperaten Punkt-zu-Punkt Verbindung verbunden, dem PCI Express. PCI Express steht für "Peripheral Component Interconnect Express". Der neuste PCI Express kann bis zu 32 Gigabyte pro Sekunde transferieren. Üblicherweise wird die Grafikkarte mit den PCI-E-Steckplätzen angeschlossen, da hier besonders grosse Datenmengen gefragt sind. An die PCI-Anschlüsse kommen Karten die weniger Daten übermitteln müssen. Zum Beispiel Soundkarten.</p>
                                </li>
                                <li>
                                        <h3>SATA-Anschlüsse</h3>
                                        <p>SATA ist der Übertragungsstandart von Daten zwischen Speichermedien und dem Prozessor. Hier schliesst man Festplatten, SSDs und andere optische Datenträger an. Die Standart SATAs kann theoretisch bis zu 600 MByte pro Sekunde übertragen.</p>
                                </li>
                                <li>
                                        <h3>Bridges</h3>
                                        <p>Das Motherboard wird unterteil in zwei verschiedene Bridges. Der South- und der Northbridge, welche zwei verschiedene Chips sind. Die Southbridge liegt Nahe an den PCI-Steckplätzen, den SATA-Anschlüssen und den USB-Ports. Sie ist über die Northbridge mit dem Prozessor verbunden. An der Northbridge sind die wichtigeren Komponenten, wie die RAM-Steckplätze, die PCI-E-Steckplätze für die Grafikkarten und der Prozessor verbunden. Auf beiden Chips sitzt ein Kühlkörper.</p>
                                </li>
                        </ul>
                </div>
        </main>
        <script src="js/motherboard.js"></script>
</body>
</html>
