html {
	height: 100vh;
}

body {
  	background : linear-gradient(#2441B4, #31128b) no-repeat fixed;
	margin: 0;
}

main {
	scroll-behavior: smooth;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	overflow: auto;
	height: 86vh;
	padding-right: 25px;
}

main h1 {
  	margin: 0;
  	font-family: 'Righteous', cursive;
}

main h2 {
  	font-family: 'Righteous', cursive;
}

main h3 {
  	font-family: sans-serif;
}

main div {
  	padding: 25px;
  	margin-bottom: 25px;
  	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 50px;
}

main div {
  	margin-top: 25px;
}

.title {
  	text-align: center;
  	font-size: 3em;
}

a {
  	text-decoration: none;
  	color: black;
}

a:hover {
  	text-decoration: underline;
  	color: black;
}

p {
  	font-family: sans-serif;
}
